<div class="w-9/12 flex-wrap flex mx-auto mt-8">
  <div class="w-full flex gap-8 items-start">
    <div class="w-8/12 flex flex-wrap">
      <div class="w-full flex">
        <% if @place.delivery_option %>
          <div class="w-4/12">
            <div
              class="hover:border-black py-3 px-4 border border-transparent text-center cursor-pointer <%= if @current_cart.delivery_option
                                                                                                             @current_cart.delivery_option.kind === "delivery" ? "bg-black text-white" : "bg-white text-black"
                                                                                                           else
                                                                                                             "bg-black text-white"
                                                                                                           end %> font-normal">
              Envío a domicilio
            </div>
          </div>
        <% end %>
        <div class="w-4/12">
          <div class="hover:border-black py-3 px-4 font-normal text-center cursor-pointer <%= if @place.delivery_option
                                                                                                if @current_cart.delivery_option
                                                                                                  @current_cart.delivery_option.kind === "pickup" ? "bg-black text-white border border-black" : "bg-white border text-white border-gray-400"
                                                                                                else
                                                                                                  "bg-white border text-black border-gray-400"
                                                                                                end
                                                                                              else
                                                                                                "bg-black text-white border border-black"
                                                                                              end %>">
            Recoger en tienda
          </div>
        </div>
      </div>
      <% if @current_address %>
        <div class="w-full mt-10 px-4 py-6 rounded bg-white <%= if @current_cart.delivery_option
                                      @current_cart.delivery_option === "delivery" ? "" : "hidden"
                                    else
                                      ""
                                    end %>" id="delivery-address">
          <h3 class="font-bold text-sm">
            Dirección de entrega
          </h3>
          <h2
            title="<%= @current_address.address %>"
            class="text-2xl truncate font-bold mt-8"><%= @current_address.address %></h2>
        </div>
      <% end %>
      <div class="w-full px-4 py-6 flex flex-wrap items-center mt-8 bg-white rounded">
        <div class="w-5/12">
          <h3 class="font-bold text-sm">Método de pago</h3>
          <!--          <div clas ></div>-->
        </div>
        <div class="w-7/12 flex items-center gap-4 justify-end">
          <div class="w-auto">
            <span id="payment-selected" class="font-bold"><%= @current_cart.payment_type === "card" ? "Tarjeta de crédito/débito" : "Efectivo" %></span>
          </div>
          <div class="w-auto">
            <%= button_to "Cambiar", place_update_payment_method_path(@place.id), data: {"disable-with": "Actualizando..."}, params: {to_state: @current_cart.payment_type === "card" ? "cash" : "card"}, remote: true, method: :put, class: "bg-green-700 py-2 px-6 text-white rounded-lg cursor-pointer focus:outline-none" %>
          </div>
        </div>
        <form action="/charge" method="post" id="payment-form" class="w-full flex flex-wrap mt-4 <%= @current_cart.payment_type === "card" ? "" : "hidden" %>">
          <div class="w-full">
            <label for="card-element" class="text-sm text-gray-600">
              Tarjeta de crédito o débito
            </label>
            <div id="card-element" class="mt-2 bg-gray-200 p-4 rounded">
              <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
          </div>

          <div class="w-full mt-12 flex justify-end">
            <button class="bg-black text-white rounded py-3 px-10">Realizar pago</button>
          </div>
        </form>
      </div>

    </div>
    <%= render Carts::Sidebar.new(place: @place, total: @total) %>
  </div>
</div>
