<div class="w-4/12 flex flex-wrap">
  <div class="w-full h-64 bg-gray-200" id="address-map">
    <!--        MAPA-->
  </div>
  <div class="w-full mt-4">
    <!--        Place information-->
    <h3 class="font-bold">
      <%= @place.name %>
    </h3>
    <h4 class="text-sm mt-1 text-gray-600">
      <%= @place.address %>
    </h4>
  </div>
  <div class="w-full flex items-start flex-wrap">

    <div class="w-full flex items-center mt-4 justify-between">
      <div class="w-7/12">
        <p class="text-gray-600">Costo de los productos:</p>
      </div>
      <div class="w-4/12 flex justify-end">
        <span class="font-bold text-sm"><%= number_to_currency(@total) %></span>
      </div>
    </div>

    <div class="w-full items-center flex justify-between mt-4">
      <div class="w-7/12">
        <p class="text-gray-600">Envío:</p>
      </div>
      <div class="w-4/12 flex justify-end">
        <span id="shipment-cost" class="text-sm font-bold"><%= number_to_currency(@place.delivery_cost) %></span>
      </div>
    </div>

    <div class="w-full flex items-center mt-4 justify-between">
      <div class="w-7/12">
        <p class="text-gray-600">Total:</p>
      </div>
      <div class="w-4/12 flex justify-end">
        <span class="font-bold text-sm"><%= number_to_currency(@total + @place.delivery_cost) %></span>
      </div>
    </div>
  </div>
</div>