<div class="w-full flex flex-wrap" id="cart_item_<%= @cart_item.id.to_s %>">
  <div class="w-full flex items-center">
    <div class="w-10 h-10 mr-4">
      <img
        class="rounded shadow"
        src="<%= helpers.get_image_url(100, 100, @cart_item.product.photo, "contain") %>" alt="<%= @cart_item.product.name %> foto de producto">
    </div>
    <div class="w-10/12 flex flex-wrap">
      <span class="text-lg font-normal"><%= @cart_item.product.name %></span>
      <% if @cart_item.product.sku %>
        <span class="text-xs font-normal w-full text-gray-700 mt-2"><%= @cart_item.product.sku %></span>
      <% end %>
    </div>
  </div>
  <div class="w-full mt-6 flex items-center">
    <div class="w-6/12">
      <%= simple_form_for(@cart_item, remote: true, url: place_update_cart_item_path(@place.slug, @cart_item), html: {class: "relative"}) do |f| %>
        <%= f.input :element, as: :hidden, input_html: {value: "sidebar"} %>
        <select
          name="cart_item[quantity]"
          class="truncate block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none"
          onchange="Rails.fire(this.form, 'submit')"
        >
          <option value="0">Eliminar</option>
          <% (1..@cart_item.product.get_truncate(@cart_item.product.get_public_stock)).each do |a| %>
            <option
              <%= @cart_item.quantity === a ? "selected" : "" %>
              value="<%= a %>">
              <%= a %>
            </option>
          <% end %>
        </select>
      <% end %>
    </div>
    <div class="w-6/12 flex justify-end">
      <span class="text-sm font-normal text-gray-700">
              <%= helpers.number_to_currency(@cart_item.quantity * @cart_item.product.price) %>
      </span>
    </div>
  </div>
</div>