<div class="w-full flex gap-4 mb-6 border-b border-gray-300 pb-4">
  <div class="md:w-32 md:h-32 rounded">
    <%= content %>
  </div>
  <div class="w-8/12 flex flex-wrap content-between">
    <div class="w-full flex flex-wrap items-start self-start">
      <h4 class="font-bold text-lg w-full truncate">
        <%= link_to @product.name, dashboard_product_path(@product.slug) %>
      </h4>
      <h5 class="text-gray-700 w-full text-xs truncate"><%= @product.description %></h5>
    </div>
    <div class="w-full">
      <h6 class="text-xs md:text-sm mt-2 font-bold">
        <%= link_to dashboard_product_path(@product.slug) do %>
          <%= number_to_currency(@product.price, unit: "MXN", format: "%u %n") %>
        <% end %>
      </h6>
    </div>
  </div>
</div>
