<div class="w-full flex">
  <%= link_to place_product_path(@place.slug, @product), remote: true do %>
    <div class="modal-open flex flex-wrap cursor-pointer w-56">
      <div class="h-56 w-full mb-5">
        <img
          draggable="false"
          class="h-56 w-56 bg-red-100 lazy"
          data-src="<%= helpers.get_image_url(250, 250, @product.photo, "contain") %>"
          src="<%= helpers.get_image_url(10, 10, @product.photo, "contain") %>"
          alt="<%= @product.name %> foto de producto">
      </div>
      <div class="w-full">
        <h2 class="text-base font-bold font-medium main-truncate"><%= helpers.number_to_currency(@product.price, format: "%u %n") %></h2>
        <h3 class="text-sm font-medium main-truncate mt-2"><%= @product.name.truncate(50) %></h3>
        <h5 class="text-xs text-gray-600 mt-1 main-truncate"><%= @product.description.truncate(50) %></h5>
      </div>
    </div>
  <% end %>
</div>