<div class="w-full flex" x-data="addressForm()">
  <%= simple_form_for(@place, url: url ? url : dashboard_places_path, remote: true, html: {class: "w-full flex gap-8 items-start"}) do |f| %>
    <div class="w-1/2 mb-4 flex-wrap flex">
      <div class="w-full">
        <%= f.input :name, label: "Nombre de tu empresa", placeholder: "Ej. Miscelanea Hermanos Ponchos",
                    label_html: {class: "text-sm font-normal text-gray-600"},
                    input_html: {
                        "x-on:input": "handleChange($event)",
                        class: "py-3 px-3 bg-main-gray mb-4 border appearance-none focus:border-black rounded focus:outline-none w-full mt-2"}
        %>
        <span name="place[name]_error" class="text-sm font-bold text-red-600"></span>
      </div>
      <%= f.input :address, as: :hidden, label: "address" %>
      <%= f.input :lat, as: :hidden, label: "lat" %>
      <%= f.input :lng, as: :hidden, label: "lng" %>
      <div class="w-full mb-4 relative">
        <div class="w-full">
          <%= f.input :search_address,
                      required: true,
                      label: "Dirección de tu empresa",
                      placeholder: "Torres del Toreo",
                      label_html: {
                          class: "text-sm font-normal text-gray-600"
                      },
                      input_html: {
                          "x-on:input": "addressHandleChange($event)",
                          value: !@place.new_record? ? @place.address : "",
                          class: "py-3 px-3 bg-main-gray mb-4 border appearance-none focus:border-black rounded focus:outline-none w-full mt-2"
                      } %>
          <span name="place[address]_error" class="text-sm font-bold text-red-600"></span>
          <div
            :class="{'hidden' : addresses.length <= 0}"
            class="absolute transform translate-y-full bottom-0 z-50 left-0 right-0 w-full shadow bg-white">
            <template x-for="address in addresses" :key="address.id">
              <p
                @click="selectAddress({address: address.place_name, center: JSON.stringify(address.center)})"
                class="px-4 py-2 hover:bg-gray-100 border-b cursor-pointer" x-text="address.place_name"></p>
            </template>
          </div>
        </div>

      </div>
      <div class="w-full mb-4">
        <%= f.input :external_number, label: "Piso / Oficina / Apto / Depto/ # Número", placeholder: !@place.new_record? ? @place.external_number || "Descripción de la dirección (ej. torre, apartamento)" : "Descripción de la dirección (ej. torre, apartamento)",
                    label_html: {
                        class: "text-sm font-normal text-gray-600"
                    },
                    input_html: {
                        "x-on:input": "handleChange($event)",
                        class: "py-3 px-3 bg-main-gray mb-4 border appearance-none focus:border-black rounded focus:outline-none w-full mt-2"
                    }
        %>
        <span name="place[external_number]_error" class="text-sm font-bold text-red-600"></span>
      </div>
      <%#= f.input :search_address, required: true, label: "Dirección de tu empresa", label_html: {class: "text-sm font-normal text-gray-600"}, input_html: {class: "py-3 px-3 bg-white border-gray-400 border appearance-none focus:border-black rounded focus:outline-none w-full mt-2 mb-4", value: ""} %>
      <div class="w-full">
        <span class="text-sm text-gray-600">Arrastra el marcador para colocar tu dirección exacta</span>
        <div class="w-full h-64 rounded mt-2 bg-main-gray focus:outline-none outline-none" id="map">
        </div>
      </div>
      <div class="w-full justify-end flex mt-4">
        <%= f.submit !@place.new_record? ? "Actualizar empresa" : "Crear empresa", data: {"disable-with": !@place.new_record? ? "Actualizando..." : "Creando..."}, class: main_color_button(color: "secondary") %>
      </div>
    </div>
    <div class="w-1/2 flex flex-wrap">

      <% unless @place.new_record? %>
        <div class="w-full relative self-start">
          <div class="flex w-full flex-wrap">
            <p class="text-sm font-normal w-full text-gray-600">Logo de la empresa</p>
            <label
              class="h-48 rounded relative w-48 mt-2 bg-main-gray cursor-pointer"
            >
              <div class="absolute flex justify-center items-center rounded bottom-0 top-0 left-0 right-0 bg-black bg-opacity-25 opacity-0 hover:opacity-100 hover:bg-opacity-75 transition duration-150">
                <span class="text-sm text-white">Actualizar</span>
              </div>
              <img
                id="place_image"
                class="lazy h-48 rounded w-48 bg-main-gray"
                src="<%= get_image_url(10, 10, @place.photo) %>" data-src="<%= get_image_url(200, 200, @place.photo) %>" alt="<%= @place.name %> photo">
              <input type='file' class="hidden" accept="image/*" id="my-file-input"/>
            </label>
          </div>
          <div class="UppyInput-Progress w-full mt-8"></div>
        </div>
        <div class="w-full mb-4">
          <%= f.input :slug, label: "Url de perfil", placeholder: @place.slug, label_html: {class: "text-sm font-normal text-gray-600"}, input_html: {"x-on:input": "handleChange($event)", class: "py-3 px-3 bg-white border-gray-400 border appearance-none focus:border-black rounded focus:outline-none w-full mt-2"} %>
          <span name="place[slug]_error" class="text-sm font-bold text-red-600"></span>
        </div>
      <% end %>
    </div>
  <% end %>
  <script type="text/javascript" charset="utf-8">
      var timer;

      function addressForm() {
          return {
              addresses: [],
              currentSlug: "",
              handleChange: function (e) {
                  e.target.classList.remove("border-red-500");
                  var element = document.querySelector(`[name="${e.target.name}_error"`);
                  console.log(e.target, element, `[name="${e.target.name}_error"`);
                  if (element) {
                      element.innerHTML = "";
                  }
              },
              selectAddress: function (e) {
                  this.addresses = [];
                  var coordinates = JSON.parse(e.center);
                  document.querySelector("#place_search_address").value = e.address;
                  document.querySelector("#place_address").value = e.address;
                  document.querySelector("#place_lng").value = coordinates[0];
                  document.querySelector("#place_lat").value = coordinates[1];
                  window.current_map.setCenter(coordinates);
                  window.current_marker.setLngLat(coordinates);
              },
              addressHandleChange: function (e) {
                  var element = document.querySelector('[name="place[address]_error"]');
                  element.innerHTML = "";
                  e.target.classList.remove("border-red-500")
                  clearTimeout(timer);

                  var value = e.target.value;
                  if (value.length > 0) {
                      timer = setTimeout(async () => {
                          var records = await window.getMapRecords({text: value});
                          console.log(records, Array.isArray(records))
                          if (Array.isArray(records)) {
                              this.addresses = records;
                          }
                      }, 300)
                  } else {
                      this.addresses = [];
                  }
              }
          }
      }
  </script>
</div>


<%= javascript_packs_with_chunks_tag "dashboard/products/new", 'data-turbolinks-track': "reload" %>
