
<%= render Headers::Text.new(title: "Pagos", subtitle: "Acepta pagos con tarjeta", small: true, with_margin: false) %>
<% if @place.free? %>
  <%= render Notifications::Alert.new(alert: "Accede al plan premium para aceptar pagos con tarjeta y mucho más.", with_spacing: true, kind: "error") %>
<% end %>

<div class="w-full flex flex-wrap border p-4 mt-4 divide-y divide-gray-400 rounded bg-main-gray">

  <!--  <div class="w-full flex-wrap">-->
  <% if @user_account.nil? %>
    <div class="w-full flex items-center py-4">
      <div class="w-6/12">
        <p class="font-normal">
          Conectar empresa a cuenta bancaria
        </p>
      </div>
      <div class="w-6/12 flex justify-end">
        <% if @place.premium? %>
          <%= button_to "Empezar registro", dashboard_place_create_connect_path, method: :post, class: main_color_button(color: "primary"), remote: true, data: {"disable-with": "Cargando..."} %>
        <% end %>
      </div>
    </div>
  <% else %>
    <% if @user_account.completed %>
      <div class="w-full flex items-center py-4">
        <div class="w-6/12">
          <p class="font-normal">
            Administrar mis datos
          </p>
          <small>
            Cuenta bancaria, responsable de la empresa y más.
          </small>
        </div>
        <div class="w-6/12 flex justify-end">
          <% if @place.premium? %>
            <button class="<%= main_color_button(color: "primary") %>" id="get-to-my-dashboard">
              Acceder a mi panel de control
            </button>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="w-full flex items-center py-4">
        <div class="w-6/12">
          <p class="font-normal">
            Completar mis datos
          </p>
          <small>
            Cuenta bancaria, responsable de la empresa y más.
          </small>
        </div>
        <div class="w-6/12 flex justify-end">
          <% if @place.premium? %>
            <%= button_to "Completar mis datos", dashboard_place_create_connect_path, method: :post, class: main_color_button(color: "primary"), remote: true, data: {"disable-with": "Cargando..."} %>

            <!--            <button class="get-to-my-dashboard disabled:cursor-not-allowed disabled:bg-gray-500 bg-main-blue text-sm cursor-pointer text-white py-3 px-4 rounded flex mt-3">-->
            <!--              Completar mis datos-->
            <!--            </button>-->
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @user_account.pending_verification %>
      <div class="w-full flex items-center py-4">
        <div class="w-6/12">
          <p class="font-normal">
            Hay información que debes verificar
          </p>
          <small>
            Cuenta bancaria, responsable de la empresa y más.
          </small>
        </div>
        <div class="w-6/12 flex justify-end">
          <% if @place.premium? %>
            <button class="<%= main_color_button(color: "primary") %>" id="get-to-my-dashboard">
              Acceder a mi panel de control
            </button>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <!--  </div>-->


</div>

<%= javascript_pack_tag "places/connect", 'data-turbolinks-track': 'reload' %>

