<div class="w-full" id="messages"></div>
<%= render Headers::Text.new(title: "Editanto mi empresa") %>
<div class="w-full">
  <% if @place.pending? %>
    <h3>Esperando la confirmación del administrador</h3>
  <% else %>
    <div class="w-full pb-4 border-b border-gray-400">
      <h3 class="text-lg font-normal text-gray-900">Envíos</h3>
      <%= simple_form_for(@place, url: dashboard_place_path(@place.slug), html: {class: "w-full flex flex-wrap"}, remote: true) do |f| %>
        <%= f.input :delivery_option, as: :boolean, label: "¿Realizas envíos a domicilio?", label_html: {class: "text-sm font-normal text-gray-600"}, wrapper_html: {class: "w-full"} %>
        <%= f.input :delivery_cost, as: :float, label: "Precio de envío", label_html: {class: "text-sm font-normal text-gray-600"}, wrapper_html: {class: "w-full"}, input_html: {class: 'py-3 px-3 bg-white border-gray-400 border appearance-none focus:border-black rounded focus:outline-none w-full mt-2 mb-4'} %>
        <div class="w-full mt-4">
          <%= f.submit value: "Actualizar empresa", class: "bg-black py-2 px-6 text-white rounded cursor-pointer", data: {"disable-with": "Actualizando..."} %>
        </div>
      <% end %>
    </div>
    <p>
      <%= simple_form_for(@place, url: dashboard_place_update_slug_path(@place.slug), remote: true) do |f| %>
        <%= f.input :slug, value: @place.slug %>
        <%= f.submit %>
      <% end %>
    </p>
    <div class="mt-4">
      <strong>Status:</strong>
      <% if @place.status == "inactive" %>
        <%= button_to "Activar", {to_action: "activate"}, method: :put, remote: true, class: "cursor-pointer bg-green-700 focus:outline-none text-white px-8 py-3 rounded shadow-2xl" %>
      <% else %>
        <%= button_to "Desactivar", {to_action: "deactivate"}, method: :put, remote: true, class: "cursor-pointer bg-red-700 focus:outline-none text-white px-8 py-3 rounded shadow-2xl" %>
      <% end %>
    </div>
  <% end %>
</div>