<%= react_component('dashboard/DashboardPlacePresentation', {image: get_image_url(50, 50, @place.photo)}, {prerender: true}) %>
<%= image_tag(get_image_url(50, 50, @place.photo)) %>
<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>


<% if @place.pending? %>
  <h3>Esperando la confirmación del administrador</h3>
<% else %>

  <p>
    <%= simple_form_for(@place, url: dashboard_place_update_slug_path(@place), remote: true) do |f| %>
      <%= f.input :slug, value: @place.slug %>
      <%= f.submit %>
    <% end %>
  </p>
  <div class="mt-4">
    <strong>Status:</strong>
    <% if @place.status === "inactive" %>
      <%= button_to "Activar", {to_action: "activate"}, method: :put, remote: true, class: "cursor-pointer bg-green-700 focus:outline-none text-white px-8 py-3 rounded shadow-2xl" %>
    <% else %>
      <%= button_to "Desactivar", {to_action: "deactivate"}, method: :put, remote: true, class: "cursor-pointer bg-red-700 focus:outline-none text-white px-8 py-3 rounded shadow-2xl" %>
    <% end %>
  </div>
<% end %>
