<header class="bg-white flex w-full mx-auto">
  <div class="w-9/12 mx-auto flex flex-wrap">
    <div class="w-full flex pt-2">
      <div class="w-auto flex items-center gap-4">
        <div class="w-auto">
          <%= link_to my_place_path do %>
            <img
              draggable="false"
              src="<%= get_image_url(20, 100, "utils/w-logo-5.png") %>"
              class="h-10"
              />
          <% end %>
        </div>
        <% if @place %>
          <% if @place.valid? %>
            <div class="w-auto">
              <h4 class="font-bold flex items-center ">
                <%= link_to place_path(@place.slug), target: "_blank" do %>
                  <span class="flex inline items-center">
                    <%= @place.name %>
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         class="h-4 inline ml-2"
                         viewBox="0 0 24 24"
                         style=" fill:#000000;">
                    <path d="M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z"></path>
                  </svg>
                                      </span>
                <% end %>

              </h4>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div
  data-scroll-shadow="true"
  class="w-full border-b sticky top-0 bg-white z-50">
  <div class="w-9/12 mx-auto flex flex-wrap">
    <%= render "utils/Headers/dashboard/items" %>
  </div>
</div>
