<div class="w-full sticky top-0 border-b z-40">
  <div class="flex w-full gap-4 px-6 bg-white items-center h-20 justify-between">
    <div class="w-7/12 flex items-center gap-12">
      <div class="w-auto">
        <a href="/">
          <img
            draggable="false"
            src="<%= get_image_url(20, 100, "utils/w-logo-5.png") %>"
            class="h-10"
            alt="waydda logo"
            />
        </a>
      </div>
      <div class="w-10/12">
        <form
          class="w-full relative">
          <div class="absolute top-0 flex justify-center items-center left-0 bottom-0 h-full ml-4">
            <img
              class="h-5 opacity-75"
              alt="svgImg"
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iOTYiIGhlaWdodD0iOTYiCnZpZXdCb3g9IjAgMCA0OCA0OCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDIwLjUgNiBDIDEyLjUxNTU1NiA2IDYgMTIuNTE1NTYyIDYgMjAuNSBDIDYgMjguNDg0NDM4IDEyLjUxNTU1NiAzNSAyMC41IDM1IEMgMjMuNzczMTU4IDM1IDI2Ljc4ODkxOSAzMy44OTMwMTggMjkuMjIwNzAzIDMyLjA1MDc4MSBMIDM4LjU4NTkzOCA0MS40MTQwNjIgQSAyLjAwMDIgMi4wMDAyIDAgMSAwIDQxLjQxNDA2MiAzOC41ODU5MzggTCAzMi4wNTA3ODEgMjkuMjIwNzAzIEMgMzMuODkzMDE3IDI2Ljc4ODkxOCAzNSAyMy43NzMxNTYgMzUgMjAuNSBDIDM1IDEyLjUxNTU2MiAyOC40ODQ0NDQgNiAyMC41IDYgeiBNIDIwLjUgMTAgQyAyNi4zMjI2ODUgMTAgMzEgMTQuNjc3MzE5IDMxIDIwLjUgQyAzMSAyMy4yOTU3MTEgMjkuOTE0MDY1IDI1LjgyMDYwMSAyOC4xNDg0MzggMjcuNjk3MjY2IEEgMi4wMDAyIDIuMDAwMiAwIDAgMCAyNy43MDExNzIgMjguMTQ0NTMxIEMgMjUuODI0MTAzIDI5LjkxMjQwMyAyMy4yOTc3MSAzMSAyMC41IDMxIEMgMTQuNjc3MzE1IDMxIDEwIDI2LjMyMjY4MSAxMCAyMC41IEMgMTAgMTQuNjc3MzE5IDE0LjY3NzMxNSAxMCAyMC41IDEwIHoiPjwvcGF0aD48L3N2Zz4="/>
          </div>
          <input type="search"
                 value="<%= params["search"].present? ? params["search"] : "" %>"
                 autoFocus="<%= params["search"].present? %>"
                 class="py-3 pl-12 pr-5 rounded-full bg-main-gray focus:outline-none w-full"
                 placeholder="Busca en tu ciudad"
            />
        </form>
      </div>
    </div>
    <div
      class="w-3/12">
      <div class="w-full">
        <%= render Shipment::Selecter.new(current_address: @current_address) %>
      </div>
      <%#= react_component("Shipment", props: {current_user: current_user, current_user_id: current_user ? current_user.id.to_s : nil, current_address: @current_address, locations: default_locations}, prerender: false) %>
    </div>
    <div class="w-2/12 px-0 flex items-center gap-3 justify-around">
      <%= render Header::Public::Cart.new(current_cart: @current_cart) %>
      <% if user_signed_in? %>
        <% if current_user.is_admin %>
          <!--        TODO: Agregar imagen para el dashboard -->
          <%= link_to my_place_path, title: "Panel de control" do %>
            <img
              class="h-6"
              alt="dashboard image" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNDgiIGhlaWdodD0iNDgiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTSAzIDMgTCAzIDExIEwgMTEgMTEgTCAxMSAzIEwgMyAzIHogTSAxMyAzIEwgMTMgMTEgTCAyMSAxMSBMIDIxIDMgTCAxMyAzIHogTSAzIDEzIEwgMyAyMSBMIDExIDIxIEwgMTEgMTMgTCAzIDEzIHogTSAxMyAxMyBMIDEzIDIxIEwgMjEgMjEgTCAyMSAxMyBMIDEzIDEzIHoiPjwvcGF0aD48L3N2Zz4="/>
          <% end %>
        <% end %>
      <% end %>
      <div class="w-auto flex justify-center">
        <% if user_signed_in? %>
          <%= link_to my_profile_path, class: "rounded-full select-none" do %>
            <!--            TODO: Agregar el dropdown-->
            <img class="h-8 shadow-lg rounded-full" src="<%= get_image_url(50, 50, "utils/icons8-test-account-96.png") %>" alt="Waydda default profile photo">
          <% end %>
        <% else %>
          <%= link_to "Inicia sesión", new_user_session_path, class: main_color_button(color: "primary") %>
        <% end %>
      </div>
      <%#= react_component("Simple", props: {current_user: current_user, current_user_id: current_user ? current_user.id.to_s : nil, current_address: @current_address, locations: default_locations}, prerender: false) %>
    </div>
  </div>
</div>

