<div class="w-full flex flex-wrap bg-white rounded">
  <%= link_to place_product_path(@place.slug, @product.slug), remote: true, class: "w-full mb-2 border-b" do %>
    <img
      class="lazy bg-gray-50 h-64 w-full"
      data-src="<%= helpers.get_image_url(300, 300, @product.photo, "contain") %>"
      src="<%= helpers.get_image_url(15, 15, @product.photo, "contain") %>" alt="Imagen de producto: <%= @product.name %>">
  <% end %>
  <%= link_to place_product_path(@place.slug, @product.slug), remote: true, class: "w-full p-4 h-40" do %>
    <h2 class="text-xl font-medium mb-2"><%= @product.name %></h2>
    <h3 class="mb-2 h-8">
      <%= helpers.number_to_currency(@product.price) %>
    </h3>
    <h4 class="text-gray-700 text-sm flex items-center"><%= @product.description.truncate(55) %></h4>
  <% end %>
</div>