<div
  id="order_<%= @sale.id.to_s %>"
  class="w-full p-4 rounded transition duration-150 relative hover:shadow-lg <%= @sale.pending? ? "bg-indigo-300 bg-opacity-25" : "#{helpers.border_color}" %>">
  <div class="w-full <%= @sale.get_bg %> p-3 absolute flex items-center top-0 transform -translate-y-full left-0 right-0">
    <span class="text-current font-normal"><%= I18n.t("status.#{@sale.status}") %></span>
  </div>
  <div class="w-full mb-3">
    <span class="text-sm text-gray-700 font-normal">
      <%= @sale.created_at.strftime('%d-%m-%Y a las %I:%M:%S %p') %>
      / Hace <%= helpers.time_ago_in_words(@sale.created_at) %>
  </span>
  </div>
  <div class="w-full flex mb-4 justify-between items-center">
    <div class="w-auto flex space-x-5">
      <% unless @sale.is_received? %>
        <%= button_to "Recibir", dashboard_order_receive_item_path(@sale), method: :patch, data: {disable_with: "Actualizando..."}, remote: true, class: "w-auto #{helpers.main_color_button(color: "dark", padding: "big")}" %>
      <% end %>
      <% unless @sale.in_process? || @sale.sent? || @sale.cancelled? %>
        <%= button_to "Procesar", dashboard_order_process_item_path(@sale), method: :patch, data: {disable_with: "Actualizando..."}, remote: true, class: "w-auto #{helpers.main_color_button(color: "dark", padding: "big")}" %>
      <% end %>
      <% unless @sale.sent? %>
        <% if @sale.is_cash? %>
          <%= button_to "Completar", dashboard_order_send_item_path(@sale), method: :patch, data: {disable_with: "Actualizando..."}, remote: true, class: "w-auto #{helpers.main_color_button(color: "primary", padding: "big")}" %>
        <% else %>
          <%= button_to "Enviar", dashboard_order_send_item_path(@sale), method: :patch, data: {disable_with: "Actualizando..."}, remote: true, class: "w-auto #{helpers.main_color_button(color: "primary", padding: "big")}" %>
        <% end %>
      <% end %>
      <% unless @sale.is_cash? %>
        <div class="w-auto <%= helpers.main_color_button(color: "gray", padding: "big") %>">
          <span>Reembolsar</span>
        </div>
      <% end %>
    </div>
    <% unless @sale.cancelled? %>
      <%= button_to "Cancelar orden", dashboard_order_cancel_item_path(@sale), method: :patch, data: {disable_with: "Actualizando...", confirm: "Esta orden se cancelará y se reembolsará el dinero al comprador. ¿Quieres continuar?"}, remote: true, class: "w-auto #{helpers.main_color_button(color: "danger")}" %>
    <% end %>
  </div>
  <% @sale.order_items.each do |order_item| %>
    <h4 class="font-normal mb-3">
      <%= helpers.pluralize(order_item.quantity, 'unidad', "unidades") %>
    </h4>
    <h3 class="text-2xl font-medium mb-3">
      <%= order_item.product.name %>
    </h3>

    <h5 class="mb-3">
      <%= order_item.aggregates %>
    </h5>

    <h4 class="font-normal mb-3">Entregar en:</h4>
    <h4 class="font-medium text-lg mb-3">
      <%= @sale.address.address %>
    </h4>
    <!--    <img-->
    <!--      class="lazy h-20 w-20 rounded mb-3"-->
    <!--      src="<%#= helpers.get_image_url(15, 15, order_item.product.photo, "contain") %>"-->
    <!--      data-src="<%#= helpers.get_image_url(150, 150, order_item.product.photo, "contain") %>" alt="Product image, <%#= order_item.product.name %> photo">-->
  <% end %>

  <div class="w-full flex items-center pt-4 border-t border-blue-400">
    <div class="w-1/2 flex flex-wrap">
      <h5 class="font-normal mb-3 w-full text-gray-700 text-sm">Total:</h5>
      <h5 class="font-medium text-lg w-full"><%= helpers.number_to_currency(@sale.total_order) %></h5>
    </div>
    <div class="w-1/2 flex justify-end text-right flex-wrap">
      <h5 class="font-normal mb-3 w-full text-gray-700 text-sm">Tipo de pago:</h5>
      <h5 class="font-medium text-lg w-full"><%= @sale.is_cash? ? "Efectivo" : "Tarjeta de débito" %></h5>
    </div>
  </div>
</div>