<div class="w-full border border-black shadow-main rounded">
  <%= render Headers::Text.new(title: "Edita los detalles de la entrega", small: true, padding_class: "py-6 px-4", font: "small", with_margin: false, padding_class: "px-4 py-6", with_border: true) do %>
    <% if helpers.current_user.current_address %>
      <% if params["cart_action"] === "edit" %>
        <%= link_to "Cancelar", place_my_cart_path, class: helpers.main_color_button(color: "danger") %>
      <% else %>
        <%= link_to "Editar", place_my_cart_path(cart_action: "edit"), class: "#{helpers.main_color_button(color: "primary")}" %>
      <% end %>
    <% end %>
  <% end %>

  <div id="address-data" class="px-4 my-8">
    <% if params["cart_action"] === "edit" %>
      <%= render Address::Form.new(address: @address) %>
    <% else %>
      <% if helpers.current_user.current_address %>
        <h3 class="font-normal text-gray-800 truncate"><%= helpers.current_user.current_address.address %></h3>
        <h4 class="text-sm text-gray-700 truncate mt-1"><%= helpers.current_user.current_address.description %></h4>
      <% else %>
        <div class="w-full">
          <%= link_to "Agregar dirección de entrega", place_my_cart_path(cart_action: "edit"), class: "#{helpers.main_color_button(color: "primary")}" %>
          <!--      <button class="<%#= helpers.main_color_button(color: "primary") %>">Agregar dirección de entrega</button>-->
        </div>
      <% end %>
    <% end %>
  </div>

</div>