<div class="w-full mt-4 text-gray-600 text-sm">
  <div class=""><%= link_to "Productos", dashboard_products_path, class: "hover:underline" %>
    <div class="mx-2 select-none inline">
      >
    </div>
    <span class="hover:underline">
      <%= link_to @product.name, dashboard_product_path(@product) %>
    </span>
    <span class="mx-2">
      >
    </span>
    <span class="text-indigo-700 font-medium">Variantes</span>
  </div>
</div>
<%= render Headers::Text.new(title: "Variantes", subtitle: "Variantes de #{@product.name}", small: true, with_margin: true) do %>
  <%= main_button(to: new_dashboard_product_aggregate_path(@product, @aggregate), text: "Agregar variante", action: "add") %>
<% end %>

<% if @aggregates.length > 0 %>
  <%= render Dashboard::Aggregates::List.new(aggregates: @aggregates, size: "big", product: @product) %>
<% else %>
  <%= render EmptyRecords.new(title: "Aún no has creado variantes para #{@product.name}") %>
<% end %>