<%= render Headers::Text.new(title: "Variantes", subtitle: "Variantes de #{@product.name}", small: true, with_margin: true) do %>
  <%= main_button(to: new_dashboard_product_aggregate_path(@product.slug, @aggregate), text: "Agregar variante", action: "add") %>
<% end %>

<% @aggregates.each do |agg| %>
  <p>
    Nombre: <%= link_to agg.name, dashboard_product_aggregate_path(@product.slug, agg) %>
  </p>
  <p>Precio: <%= agg.price %></p>
  <%= button_to "Eliminar", dashboard_product_aggregate_path(@product.slug, agg), method: :delete, data: {confirm: "¿Estás seguro de eliminar este aggregate?"}, class: "bg-black px-6 py-3 text-white rounded cursor-pointer" %>
<% end %>

