<div class="w-full mt-4 text-gray-600 text-sm">
  <div class=""><%= link_to "Productos", dashboard_products_path, class: "hover:underline" %>
    <div class="mx-2 select-none inline">
      >
    </div>
    <span class="hover:underline">
      <%= link_to @product.name, dashboard_product_path(@product.slug) %>
    </span>
    <span class="mx-2">
      >
    </span>
    <span class="hover:underline">
      <%= link_to "Variantes", dashboard_product_aggregates_path(@product.slug) %>
    </span>
    <span class="mx-2">
      >
    </span>
    <span class="text-indigo-700 font-medium"><%= @aggregate.name %></span>
  </div>
</div>
<%= render Headers::Text.new(title: @aggregate.name, subtitle: "Variante de #{@product.name}", small: true, with_margin: true) do %>
  <%= main_button(to: edit_dashboard_product_aggregate_path(@product.slug, @aggregate), text: "Editar variante", action: "update") %>
<% end %>
<div class="w-full flex flex-wrap">
  <div class="w-full flex flex-wrap bg-main-gray rounded divide-gray-400 divide-y">
    <div class="w-full p-4 flex items-center">
      <h4 class="font-medium">Precio:</h4>
      <h5 class="text-gray-700 ml-2 text-sm font-normal inline"><%= number_to_currency(@aggregate.price, format: "%u %n") %></h5>
    </div>
    <div class="w-full p-4 flex items-center">
      <h4 class="font-medium">Descripción:</h4>
      <h5 class="text-gray-700 ml-2 text-sm font-normal inline"><%= @aggregate.description %></h5>
    </div>
    <div class="w-full p-4 flex items-center">
      <h4 class="font-medium">Stock del producto:</h4>
      <h5 class="text-gray-700 ml-2 text-sm font-normal inline"><%= @aggregate.public_stock %></h5>
    </div>
    <div class="w-full p-4 flex items-center">
      <h4 class="font-medium">Vender cuándo no hay stock:</h4>
      <h5 class="text-gray-700 ml-2 text-sm font-normal inline"><%= @aggregate.unlimited ? "SI" : "NO" %></h5>
    </div>
    <div class="w-full p-4 flex items-center">
      <h4 class="font-medium">Agregar al precio del producto:</h4>
      <h5 class="text-gray-700 ml-2 text-sm font-normal inline"><%= @aggregate.add_to_price_product ? "SI" : "NO" %></h5>
    </div>

  </div>
</div>
<%= render Headers::Text.new(title: "Área de peligro", subtitle: "Si eliminas la variante no podrás recuperar la información de este recurso, está acción es irreversible", small: true, with_margin: true) do %>
  <%= link_to "Eliminar variante", dashboard_product_aggregate_path(@product.slug, @aggregate), data: {confirm: "¿Esás seguro?", "disable-with": "Cargando..."}, class: main_color_button(color: "danger"), remote: true, method: :delete %>
<% end %>

