<h1>Hola: <%= current_user.name %></h1>
<% if @current_address %>
  <h4><strong>Dirección de entrega:</strong> <%= @current_address.street %></h4>
<% end %>
<%= link_to "Editar perfil", edit_my_profile_path %>
<%= link_to "Agregar dirección de entrega", new_address_path %>

<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
