<% content_for :head_tags do %>
  <% if current_user.current_address %>
    <meta name="user_lat" content="<%= current_user.current_address.lat %>"/>
    <meta name="user_lng" content="<%= current_user.current_address.lng %>"/>
  <% end %>
<% end %>

<div
  class="w-full mx-auto flex gap-4">
  <div class="w-9/12 mx-auto flex-wrap">
    <div class="w-full items-center flex">
      <%= render Headers::Text.new(title: current_user.name) do %>
        <%= main_button(to: edit_my_profile_path, text: "Editar perfil", action: "update") %>
      <% end %>
    </div>
    <div class="w-full flex flex-wrap items-start">
      <div class="w-full flex gap-12">
        <div class="w-6/12">
          <h2 class="font-bold mb-4 text-lg">
            Dirección de entrega
          </h2>
          <%= render Address::Form.new(address: @new_address) %>
        </div>
        <div class="w-6/12">
          <h2 class="font-bold text-lg">
            Mapa
          </h2>
          <span class="<%= label_color_class(size: "small") %>">Arrastra el marcador para colocar tu dirección exacta</span>
          <div class="h-xl mt-4 bg-gray-200 w-full rounded" id="map">

          </div>
        </div>
      </div>
      <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
    </div>
  </div>

</div>
<%= javascript_pack_tag "my_profile", 'data-turbolinks-track': "reload" %>
