<div
  id="<%= agg.object.new_record ? "" : "aggregate_#{agg.object.id}" %>" class="aggregate_record w-full flex items-center md:flex-no-wrap flex-wrap px-4">
  <% unless agg.object.new_record %>
    <%= agg.input :id, as: :hidden, input_html: {value: agg.object.id} %>
  <% end %>
  <div class="w-full md:w-5/12 md:mr-2 mr-0">
    <%= agg.input :name, label: "Título",
                  input_html: {
                      class: "#{input_color_class} mt-2  resize-none",
                  },
                  label_html: {
                      class: label_color_class(size: "big")
                  },
                  label: false,
                  placeholder: "Ej. Mediano, grande o chico"
    %>
  </div>
  <div class="md:w-3/12 md:mr-2 w-full">
    <%= agg.input :sku,
                  label: "SKU",
                  input_html: {
                      class: "#{input_color_class} mt-2  resize-none",
                  },
                  label_html: {
                      class: label_color_class(size: "big")
                  },
                  label: false,
                  placeholder: "Código de referencia"
    %>
  </div>
  <div class="md:w-3/12 w-full">
    <%= agg.input :price,
                  label: "Precio",
                  as: :float,
                  input_html: {
                      class: "#{input_color_class} mt-2  resize-none",
                  },
                  label_html: {
                      class: label_color_class(size: "big")
                  },
                  label: false,
                  placeholder: "Precio de esta variante"
    %>
  </div>
  <div class="w-1/12 pl-4 flex justify-center">
    <% if agg.object.new_record %>
      <div
        @click="removeThis($event, $event.target.parentNode)"
        class="remove-child text-gray-800 hover:text-red-700 cursor-pointer py-2">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
             viewBox="0 0 24 24"
             class="h-5 w-5 fill-current select-none pointer-events-none"
        >
          <path d="M 10 2 L 9 3 L 5 3 C 4.4 3 4 3.4 4 4 C 4 4.6 4.4 5 5 5 L 7 5 L 17 5 L 19 5 C 19.6 5 20 4.6 20 4 C 20 3.4 19.6 3 19 3 L 15 3 L 14 2 L 10 2 z M 5 7 L 5 20 C 5 21.1 5.9 22 7 22 L 17 22 C 18.1 22 19 21.1 19 20 L 19 7 L 5 7 z M 9 9 C 9.6 9 10 9.4 10 10 L 10 19 C 10 19.6 9.6 20 9 20 C 8.4 20 8 19.6 8 19 L 8 10 C 8 9.4 8.4 9 9 9 z M 15 9 C 15.6 9 16 9.4 16 10 L 16 19 C 16 19.6 15.6 20 15 20 C 14.4 20 14 19.6 14 19 L 14 10 C 14 9.4 14.4 9 15 9 z"></path>
        </svg>
      </div>
    <% else %>
      <%= link_to dashboard_product_aggregate_category_aggregate_path(@product, @aggregate_category, agg.object), remote: true, data: {confirm: "¿Seguro que quieres eliminar esta selección?"}, method: :delete do %>
        <span class="text-gray-800 hover:text-red-700 cursor-pointer py-2">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
               viewBox="0 0 24 24"
               class="h-5 w-5 fill-current"
          >
            <path d="M 10 2 L 9 3 L 5 3 C 4.4 3 4 3.4 4 4 C 4 4.6 4.4 5 5 5 L 7 5 L 17 5 L 19 5 C 19.6 5 20 4.6 20 4 C 20 3.4 19.6 3 19 3 L 15 3 L 14 2 L 10 2 z M 5 7 L 5 20 C 5 21.1 5.9 22 7 22 L 17 22 C 18.1 22 19 21.1 19 20 L 19 7 L 5 7 z M 9 9 C 9.6 9 10 9.4 10 10 L 10 19 C 10 19.6 9.6 20 9 20 C 8.4 20 8 19.6 8 19 L 8 10 C 8 9.4 8.4 9 9 9 z M 15 9 C 15.6 9 16 9.4 16 10 L 16 19 C 16 19.6 15.6 20 15 20 C 14.4 20 14 19.6 14 19 L 14 10 C 14 9.4 14.4 9 15 9 z"></path></svg>
        </span>
      <% end %>
    <% end %>
  </div>

</div>
<% if @all_fields %>
  <div class="w-full flex items-center md:flex-no-wrap flex-wrap">
    <div class="w-full md:w-5/12 ml-0 md:ml-2">
      <%= agg.input :public_stock,
                    label: "Productos en stock",
                    as: :float,
                    input_html: {
                        class: "#{input_color_class} mt-2  resize-none",
                    },
                    label_html: {
                        class: label_color_class(size: "big")
                    },
                    placeholder: "Cantidad disponible"
      %>
    </div>
  </div>

  <div class="w-full flex md:flex-no-wrap flex-wrap">
    <div class="md:w-7/12 md:mr-2 mr-0 w-full">
      <%= agg.input :quantity,
                    placeholder: "Medida de volumen",
                    label: "Medida de volumen",
                    input_html: {
                        class: "#{input_color_class} mt-2  resize-none",
                    },
                    label_html: {
                        class: label_color_class(size: "big")
                    }
      %>
    </div>
    <div class="md:w-5/12 md:ml-2 ml-0 w-full">
      <label for="" class="<%= label_color_class(size: "big") %>">Unidad de medida</label>
      <select class="<%= input_color_class %> mt-2  resize-none" name="" id="">
        <option value=""><%= @product.get_simple_quantity_measure %></option>
      </select>
    </div>
  </div>
  <div class="w-full flex items-center md:flex-no-wrap flex-wrap">
    <div class="md:w-7/12 md:mr-2 mr-0 w-full">
      <%= agg.input :unlimited,
                    collection: [%w[SI true], %w[NO false]],
                    input_html: {
                        class: "#{input_color_class} mt-2  resize-none",
                    },
                    label_html: {
                        class: label_color_class(size: "big")
                    },
                    label: "Continuar vendiendo sin stock",
                    prompt: "Selecciona una opción"
      %>
    </div>
    <div class="md:w-5/12 md:ml-2 ml-0 w-0"></div>
  </div>
<% end %>