<div class="w-full flex items-center md:flex-no-wrap flex-wrap overflow-scroll">
  <div class="w-full md:w-7/12 md:mr-2 mr-0">
    <%= agg.input :name, label: "Título",
                  input_html: {
                      class: "#{input_color_class} mt-2 mb-6 resize-none",
                  },
                  label_html: {
                      class: label_color_class(size: "big")
                  },
                  placeholder: "Ej. Mediano, grande o chico"
    %>
  </div>
  <div class="w-full md:w-7/12 md:mr-2 mr-0">
    <%= agg.input :name, label: "Título",
                  input_html: {
                      class: "#{input_color_class} mt-2 mb-6 resize-none",
                  },
                  label_html: {
                      class: label_color_class(size: "big")
                  },
                  placeholder: "Ej. Mediano, grande o chico"
    %>
  </div>
  <div class="md:w-5/12 md:ml-2 ml-0 w-full">
    <%= agg.input :price,
                  label: "Precio (MXN)",
                  as: :float,
                  input_html: {
                      class: "#{input_color_class} mt-2 mb-6 resize-none",
                  },
                  label_html: {
                      class: label_color_class(size: "big")
                  },
                  placeholder: "Precio de esta variante"
    %>
  </div>
</div>
<div class="w-full flex items-center md:flex-no-wrap flex-wrap">
  <div class="w-full md:w-7/12 mr-0 md:mr-2">
    <%= agg.input :sku,
                  label: "SKU",
                  input_html: {
                      class: "#{input_color_class} mt-2 mb-6 resize-none",
                  },
                  label_html: {
                      class: label_color_class(size: "big")
                  },
                  placeholder: "Código de referencia"
    %>
  </div>
  <div class="w-full md:w-5/12 ml-0 md:ml-2">
    <%= agg.input :public_stock,
                  label: "Productos en stock",
                  as: :float,
                  input_html: {
                      class: "#{input_color_class} mt-2 mb-6 resize-none",
                  },
                  label_html: {
                      class: label_color_class(size: "big")
                  },
                  placeholder: "Cantidad disponible"
    %>
  </div>
</div>

<div class="w-full flex md:flex-no-wrap flex-wrap">
  <div class="md:w-7/12 md:mr-2 mr-0 w-full">
    <%= agg.input :quantity,
                  placeholder: "Medida de volumen",
                  label: "Medida de volumen",
                  input_html: {
                      class: "#{input_color_class} mt-2 mb-6 resize-none",
                  },
                  label_html: {
                      class: label_color_class(size: "big")
                  }
    %>
  </div>
  <div class="md:w-5/12 md:ml-2 ml-0 w-full">
    <label for="" class="<%= label_color_class(size: "big") %>">Unidad de medida</label>
    <select class="<%= input_color_class %> mt-2 mb-6 resize-none" name="" id="">
      <option value=""><%= @product.get_simple_quantity_measure %></option>
    </select>
  </div>
</div>
<div class="w-full flex items-center md:flex-no-wrap flex-wrap">
  <div class="md:w-7/12 md:mr-2 mr-0 w-full">
    <%= agg.input :unlimited,
                  collection: [%w[SI true], %w[NO false]],
                  input_html: {
                      class: "#{input_color_class} mt-2 mb-6 resize-none",
                  },
                  label_html: {
                      class: label_color_class(size: "big")
                  },
                  label: "Continuar vendiendo sin stock",
                  prompt: "Selecciona una opción"
    %>
  </div>
  <div class="md:w-5/12 md:ml-2 ml-0 w-0"></div>
</div>