<div class="w-full mt-4 text-gray-600 text-sm">
  <div class=""><%= link_to "Productos", dashboard_products_path, class: "hover:underline" %>
    <div class="mx-2 select-none inline">
      >
    </div>
    <span class="">
      <%= link_to @product.name, dashboard_product_path(@product.slug), class: "hover:underline" %>
    </span>
    <div class="mx-2 select-none inline">
      >
    </div>
    <span class="text-indigo-700 font-medium">Crear variante</span>
  </div>
</div>
<%= render Headers::Text.new(title: "Crear variante", subtitle: "Nueva variante de #{@product.name}", small: true) %>
<div
  class="w-full"
  x-data="dashboardNewAggregate()"
>
  <%= simple_form_for(@aggregate_category,
                      url: dashboard_product_aggregate_categories_path,
                      remote: true,
                      html: {
                          class: "w-full flex gap-12 items-start mb-12"
                      },
                      defaults: {
                          input_html: {
                              class: 'py-3 px-3 bg-main-gray appearance-none rounded focus:outline-none w-full mt-2 mb-4 resize-none',
                          },
                          label_html: {
                              class: "text-sm font-normal text-gray-600"
                          }
                      }
      ) do |f| %>
    <div class="w-7/12">
      <%= f.input :name,
                  label: "Nombre de tu variante",
                  placeholder: "Nombre de tu variante",
                  input_html: {
                      "x-model": "name"
                  }
      %>
      <%= f.input :description,
                  label: "Breve descripción de esta variante",
                  placeholder: "Describe la variante",
                  input_html: {
                      "x-model": "description"
                  }
      %>
      <%= f.input :required,
                  label: "¿Es obligatorio seleccionar una sub-variante?",
                  collection: [%w[SI true], %w[NO false]],
                  prompt: "Selecciona una opción",
                  input_html: {
                      "x-on:change": "handleRequired($event)"
                  }
      %>

      <%= f.input :multiple_selection,
                  collection: [%w[SI true], %w[NO false]],
                  label: "Selección múltiple",
                  prompt: "Selecciona una opción",
                  input_html: {
                      "x-on:change": "handleMultipleSelect($event)"
                  }
      %>
      <div class="w-full flex justify-end mt-8">
        <%= f.submit "Crear variante", data: {"disable-with": "Creando..."}, class: main_color_button(color: "secondary") %>
      </div>
    </div>
    <div class="w-5/12 flex flex-wrap">
      <div class="w-full mb-4">
        <h2 class="text-lg font-medium uppercase">vista previa</h2>
      </div>
      <div class="rounded border p-4 flex w-full">
        <div class="w-full flex flex-wrap">
          <div class="w-full flex flex-wrap border-b mb-4 pb-2">
            <div class="w-full flex items-center">
              <div class="w-8/12">
                <div
                  :class="{'hidden': name.length <= 0}"
                  class="hidden h-6"
                >
                  <h3 class="uppercase text-sm font-medium truncate" x-text="name"/>
                </div>
                <div class="h-6 w-full bg-gray-300 animate-pulse rounded"
                     :class="{'hidden': name.length > 0}"
                >
                </div>
              </div>
              <div
                :class="{'hidden': !required }"
                x-show="required"
                class="w-4/12 flex justify-end hidden">
                <h4 class="uppercase text-sm text-gray-500 font-normal">Obligatorio</h4>
              </div>
            </div>
            <div class="w-8/12 mt-1 mb-2">
              <div
                :class="{'hidden': description.length <= 0}"
                class="hidden h-full"
              >
                <h4 class="text-xs text-gray-600 truncate" x-text="description"/>
              </div>
            </div>
          </div>
          <div
            :class="{'hidden': multiple_selection}"
            class="w-full hidden"
          >
            <% 1..5.times do %>
              <label class="w-full my-3 flex gap-4 items-center">
                <input
                  type="radio"
                  name="previewRadio"
                  x-show="!multiple_selection"
                  class="main-radio focus:outline-none hidden text-black h-5 w-5 cursor-pointer"
                  />
                <div class="w-10/12">
                  <span class="text-sm font-normal">Lorem ipsum doler</span>
                </div>
              </label>
            <% end %>
          </div>
          <div
            :class="{'hidden': !multiple_selection}"
            class="w-full hidden"
          >
            <% 1..5.times do %>
              <label class="w-full my-3 flex gap-4 items-center">
                <input
                  type="checkbox"
                  name="previewCheckbox"
                  x-show="multiple_selection"
                  class="main-checkbox rounded focus:outline-none hidden text-black h-5 w-5 cursor-pointer"
                  />

                <div class="w-10/12">
                  <span class="text-sm font-normal">Lorem ipsum doler</span>
                </div>
              </label>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <script type="text/javascript" charset="utf-8">
      function dashboardNewAggregate() {
          return {
              name: "",
              description: "",
              required: false,
              multiple_selection: false,
              handleChange: function (e) {
                  e.target.classList.remove("border-2");
                  e.target.classList.remove("border-red-500");
              },
              handleRequired: function (e) {
                  this.required = (e.target.value === "true");
              },
              handleMultipleSelect: function (e) {
                  this.multiple_selection = (e.target.value === "true");
              }
          }
      }
  </script>
</div>
