<%= render Headers::Text.new(title: @aggregate_category.name, small: true, with_margin: true, subtitle: "#{pluralize(@aggregate_category.aggregates.select { |a| !a.new_record? }.length, "subvariante", "subvariantes")}") do %>
  <%= main_button(to: edit_dashboard_product_aggregate_category_path(@product.slug, @aggregate_category), text: "Editar variante", action: "update") %>
<% end %>

<%= render Dashboard::List::Index.new(
    title: "Detalles",
    items: [
        {title: "Nombre", value: @aggregate_category.name},
        {title: "Requerido", value: @aggregate_category.required, boolean: true},
        {title: "Selección múltiple", value: @aggregate_category.multiple_selection, boolean: true},
    ]
) %>
<div class="w-full border mt-4 rounded">
  <%= render Headers::Text.new(title: "Subvariantes", small: true, with_margin: false, with_border: false, font: "small", padding_class: "p-4") do %>
    <%= link_to "Añadir subvariante", new_dashboard_product_aggregate_category_aggregate_path(@product.slug, @aggregate_category), class: main_color_button(padding: "big") %>
    <%#= main_button(to: "#", text: "Añadir subvariante", custom_click: "handleClick($event)", action: "add") %>
  <% end %>
  <div
    class="w-full flex flex-wrap">

    <div class="w-full">
      <%= render Dashboard::Aggregates::List.new(
          aggregates: @aggregate_category.aggregates.select { |a| !a.new_record? },
          product: @product,
          aggregate_category: @aggregate_category
      )
      %>
    </div>
  </div>
</div>


<%= render Headers::Text.new(title: "Área de peligro", subtitle: "Si eliminas la variante no podrás recuperar la información de este recurso, está acción es irreversible", small: true, with_margin: true) do %>
  <%= link_to "Elminar variante",
              dashboard_product_aggregate_category_path(@product.slug, @aggregate_category),
              method: :delete,
              remote: true,
              class: main_color_button(color: "danger"),
              data: {
                  "disable-with": "Cargando...",
                  "confirm": "¿Seguro que quieres eliminar esta variante?"
              }
  %>
<% end %>

<div id="modal">
</div>
<div class="modal">
  <div class="modal-inner w-7/12 h-xxxl rounded">
    <!--    <span data-modal-close>&times;</span>-->
    <div class="modal-content h-full flex modal-content" id="modal-content"></div>
  </div>
</div>