<div class="w-full mt-4 text-gray-600 text-sm">
  <div class=""><%= link_to "Productos", dashboard_products_path, class: "hover:underline" %>
    <div class="mx-2 select-none inline">
      >
    </div>
    <span class="">
      <%= link_to @product.name, dashboard_product_path(@product.slug), class: "hover:underline" %>
    </span>
    <div class="mx-2 select-none inline">
      >
    </div>
    <span class="">
      <%= link_to "Variantes", dashboard_product_aggregate_categories_path(@product.slug), class: "hover:underline" %>
    </span>
    <div class="mx-2 select-none inline">
      >
    </div>
    <span class="text-indigo-700 font-medium"><%= @aggregate_category.name %></span>
  </div>
</div>
<%= render Headers::Text.new(title: @aggregate_category.name, small: true, with_margin: true, subtitle: "#{pluralize(@aggregate_category.aggregates.select { |a| !a.new_record? }.length, "subvariante", "subvariantes")}") do %>
  <%= main_button(to: edit_dashboard_product_aggregate_category_path(@product.slug, @aggregate_category), text: "Editar variante", action: "update") %>
<% end %>

<%= render Dashboard::List::Index.new(
    title: "Detalles",
    items: [
        {title: "Nombre", value: @aggregate_category.name},
        {title: "Descripción", value: @aggregate_category.description},
        {title: "Requerido", value: @aggregate_category.required, boolean: true},
        {title: "Selección múltiple", value: @aggregate_category.multiple_selection, boolean: true},
    ]
) %>
<%= simple_form_for(@aggregate_category,
                    url: dashboard_product_aggregate_category_path(@product.slug, @aggregate_category),
                    html: {
                        class: "w-full border mt-4 rounded",
                    }
    ) do |f| %>
  <%= render Headers::Text.new(title: "Subvariantes", small: true, with_margin: true, font: "small", padding_class: "p-4") do %>
    <%= link_to_add_association "Añadir subvariante", f, :aggregates, 'data-association-insertion-node' => ".aggregates .aggregates-container", class: main_color_button(color: "primary"), 'data-turbolinks': false %>
    <%#= main_button(to: "#", text: "Añadir subvariante", custom_click: "handleClick($event)", action: "add") %>
  <% end %>
  <div
    class="w-full flex flex-wrap">
    <div id="add-aggregate" class="w-full">
      <div class="aggregates w-full flex flex-wrap" id="aggregates">
        <div class="aggregates-container"></div>
        <%= f.simple_fields_for :aggregates, Aggregate.new do |agg| %>
          <%= render "dashboard/aggregate_categories/aggregate_fields", f: agg %>
        <% end %>
      </div>
    </div>
    <div class="w-full flex justify-end mt-5">
      <%= f.submit "Actualizar subvariantes", class: main_color_button(color: "secondary") %>
    </div>
    <div class="w-full">
      <%= render Dashboard::Aggregates::List.new(
          aggregates: @aggregate_category.aggregates.select { |a| !a.new_record? },
          product: @product,
          aggregate_category: @aggregate_category
      )
      %>
    </div>
  </div>
<% end %>


<%= render Headers::Text.new(title: "Área de peligro", subtitle: "Si eliminas la variante no podrás recuperar la información de este recurso, está acción es irreversible", small: true, with_margin: true) do %>
  <%= link_to "Elminar variante",
              dashboard_product_aggregate_category_path(@product.slug, @aggregate_category),
              method: :delete,
              remote: true,
              class: main_color_button(color: "danger"),
              data: {
                  "disable-with": "Cargando...",
                  "confirm": "¿Seguro que quieres eliminar esta variante?"
              }
  %>
<% end %>

<div id="modal">
</div>
<div class="modal">
  <div class="modal-inner w-4/12 h-xxxl rounded">
<!--    <span data-modal-close>&times;</span>-->
    <div class="modal-content h-full flex modal-content" id="modal-content"></div>
  </div>
</div>