<div
  class="w-full flex flex-wrap main-business">
  <div class="w-8/12 flex mx-auto mt-24">
    <div class="w-full flex flex-wrap">
      <div class="w-full flex justify-center text-center">
        <h2 class="text-main-red font-medium">Lo local en la palma de tu mano</h2>
      </div>
      <div class="w-full flex justify-center text-center mt-3">
        <h1 class="text-gray-900 font-bold text-5xl"><span class="notranslate">Waydda</span> conecta a
          <span class="text-teal-600">empresas</span> con sus
          consumidores <span class="text-teal-600">locales</span> y <span class="text-teal-600">nacionales</span></h1>
      </div>
      <div class="w-full mt-8 flex justify-center">
        <%= link_to "Empezar", new_dashboard_place_path({continue: user_signed_in? ? nil : new_dashboard_place_path}), class: "font-medium bg-main-red text-white rounded py-3 px-6 hover:bg-red-600 transition duration-150" %>
      </div>
      <div class="w-full flex justify-center">
        <img alt="Business page" src="<%= get_image_url(20, 20, "utils/cyborg-19.png") %>" class="lazy h-xxl" data-src="<%= get_image_url(1000, 800, "utils/cyborg-19.png") %>">
      </div>
    </div>
  </div>
</div>

<div class="bg-white min-h-screen flex w-full items-center">
  <div class="w-11/12 justify-between gap-12 mx-auto flex items-center">
    <div class="w-5/12 flex flex-wrap">
      <div class="w-full">
        <h4 class="text-main-red font-medium">
          Lipsa natus officiis quae quam
        </h4>
      </div>
      <div class="w-10/12">
        <h2 class="font-bold text-black text-4xl mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </h2>
      </div>
      <div class="w-full">
        <h3 class="font-normal tracking-wide text-sm leading-7 text-gray-600 mt-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, similique velit! Beatae consequatur
          dicta doloribus eveniet expedita.
        </h3>
      </div>

      <div class="w-full mt-8">
        <%= link_to new_user_session_path, class: "rounded bg-main py-3 px-5 font-medium text-black hover:text-teal-600 flex items-center gap-4 w-6/12" do %>
          <!--        <span class="items-center gap-4" >-->
          <div class="w-9/12">
            Más información
          </div>
          <div class="w-3/12 flex justify-end">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 50 50"
                 style=" fill:#000000;">
              <path d="M 37.058594 12.980469 C 36.246094 12.949219 35.492188 13.414063 35.160156 14.15625 C 34.824219 14.898438 34.96875 15.765625 35.53125 16.359375 L 41.675781 23 L 3 23 C 2.277344 22.988281 1.609375 23.367188 1.246094 23.992188 C 0.878906 24.613281 0.878906 25.386719 1.246094 26.007813 C 1.609375 26.632813 2.277344 27.011719 3 27 L 41.675781 27 L 35.53125 33.640625 C 35.03125 34.164063 34.855469 34.914063 35.066406 35.605469 C 35.277344 36.296875 35.84375 36.820313 36.546875 36.976563 C 37.253906 37.132813 37.988281 36.894531 38.46875 36.359375 L 48.972656 25 L 38.46875 13.640625 C 38.109375 13.242188 37.597656 13 37.058594 12.980469 Z"></path>
            </svg>
          </div>
          <!--        </span>-->
        <% end %>
      </div>
    </div>
    <div class="w-6/12">
      <img
        src="<%= get_image_url(20, 20, "utils/common-household-tools-on-wooden-background.jpg") %>" class="lazy shadow w-full h-full bg-gray-200" data-src="<%= get_image_url(1000, 700, "utils/common-household-tools-on-wooden-background.jpg") %>">
    </div>
  </div>
</div>

<div class="w-full bg-secondary-light mt-20 py-24 text-center">
  <div class="w-9/12 mx-auto flex flex-wrap text-center justify-center">
    <h2 class="text-black font-extrabold text-4xl">¡Únete y empieza a vender hoy!</h2>
    <div class="w-8/12 mt-8">
      <h3 class="font-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cum dolor doloribus
        exercitationem impedit inventore, ipsa ipsum iure laborum</h3>
    </div>
    <div class="w-full flex justify-center mt-8">
      <%= link_to "Registrarse", new_dashboard_place_path, class: "hover:bg-gray-900 transition duration-150 rounded flex w-3/12 text-white bg-black py-4 px-5 font-medium justify-center" %>
    </div>
    <div class="w-8/12 flex gap-4 justify-around mt-12">
      <div class="w-auto gap-2 flex items-center">
        <div class="w-auto">
          <svg
            class="w-4"
            xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            viewBox="0 0 26 26"
            style=" fill:#000000;">
            <path d="M 22.566406 4.730469 L 20.773438 3.511719 C 20.277344 3.175781 19.597656 3.304688 19.265625 3.796875 L 10.476563 16.757813 L 6.4375 12.71875 C 6.015625 12.296875 5.328125 12.296875 4.90625 12.71875 L 3.371094 14.253906 C 2.949219 14.675781 2.949219 15.363281 3.371094 15.789063 L 9.582031 22 C 9.929688 22.347656 10.476563 22.613281 10.96875 22.613281 C 11.460938 22.613281 11.957031 22.304688 12.277344 21.839844 L 22.855469 6.234375 C 23.191406 5.742188 23.0625 5.066406 22.566406 4.730469 Z"></path>
          </svg>
        </div>
        <div class="w-auto">
          <span class="font-normal text-sm">X cosa</span>
        </div>
      </div>
      <div class="w-auto gap-2 flex items-center">
        <div class="w-auto">
          <svg
            class="w-4"
            xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            viewBox="0 0 26 26"
            style=" fill:#000000;">
            <path d="M 22.566406 4.730469 L 20.773438 3.511719 C 20.277344 3.175781 19.597656 3.304688 19.265625 3.796875 L 10.476563 16.757813 L 6.4375 12.71875 C 6.015625 12.296875 5.328125 12.296875 4.90625 12.71875 L 3.371094 14.253906 C 2.949219 14.675781 2.949219 15.363281 3.371094 15.789063 L 9.582031 22 C 9.929688 22.347656 10.476563 22.613281 10.96875 22.613281 C 11.460938 22.613281 11.957031 22.304688 12.277344 21.839844 L 22.855469 6.234375 C 23.191406 5.742188 23.0625 5.066406 22.566406 4.730469 Z"></path>
          </svg>
        </div>
        <div class="w-auto">
          <span class="font-normal text-sm">X cosa</span>
        </div>
      </div>
      <div class="w-auto gap-2 flex items-center">
        <div class="w-auto">
          <svg
            class="w-4"
            xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            viewBox="0 0 26 26"
            style=" fill:#000000;">
            <path d="M 22.566406 4.730469 L 20.773438 3.511719 C 20.277344 3.175781 19.597656 3.304688 19.265625 3.796875 L 10.476563 16.757813 L 6.4375 12.71875 C 6.015625 12.296875 5.328125 12.296875 4.90625 12.71875 L 3.371094 14.253906 C 2.949219 14.675781 2.949219 15.363281 3.371094 15.789063 L 9.582031 22 C 9.929688 22.347656 10.476563 22.613281 10.96875 22.613281 C 11.460938 22.613281 11.957031 22.304688 12.277344 21.839844 L 22.855469 6.234375 C 23.191406 5.742188 23.0625 5.066406 22.566406 4.730469 Z"></path>
          </svg>
        </div>
        <div class="w-auto">
          <span class="font-normal text-sm">X cosa</span>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full mt-12 text-left flex justify-center items-start flex flex-wrap">
    <%= render Pricing::List::Index.new(place: @place, pricing: @premium_pricing, with_margin: true) %>
  </div>
</div>


