<%= render Headers::Text.new(title: "Categorías", small: false, with_margin: true) do %>
  <%= main_button(to: new_dashboard_item_path, text: "Crear categoría", action: "add") %>
<% end %>

<% if @items.length <= 0 %>
  <%= render EmptyRecords.new(title: "Aún no has agregado ninguna categoría") %>
<% end %>
<% if @items.length > 0 %>
  <% @items.each do |item| %>
    <%= link_to dashboard_item_path(item) do %>
      <p><%= item.name %></p>
    <% end %>
  <% end %>
<% end %>
