<div class="w-full flex">
  <div class="w-7/12 px-4 py-8 flex self-center">
    <img
      class="lazy mx-auto h-xxl bg-gray-300"
      src="<%= helpers.get_image_url(10, 10, @product.photo, "contain") %>"
      alt="<%= @product.name %> foto de producto"
      data-src="<%= helpers.get_image_url(500, 500, @product.photo, "contain") %>"
    >
  </div>
  <div class="w-5/12 shadow-product-modal px-4 py-8">
    <div class="w-full flex-wrap">
      <h1 class="text-xl font-medium"><%= @product.name %></h1>
      <h2 class="mt-2 text-gray-600 text-sm font-light mb-8"><%= @product.description %></h2>
      <% if @product.aggregate_categories.length > 0 %>
        <%= render Products::Variants::List::Index.new(product: @product) %>
      <% end %>
    </div>
  </div>
</div>