<div class="w-full flex">
  <div class="w-7/12 px-4 py-8 flex self-center">
    <img
      class="lazy mx-auto h-xxl bg-gray-300"
      src="<%= helpers.get_image_url(10, 10, @product.photo, "contain") %>"
      alt="<%= @product.name %> foto de producto"
      data-src="<%= helpers.get_image_url(500, 500, @product.photo, "contain") %>"
    >
  </div>
  <div class="w-5/12 shadow-product-modal px-4 py-8">
    <div class="w-full flex-wrap">
      <h1 class="text-xl font-medium"><%= @product.name %></h1>
      <h2 class="mt-2 text-gray-600 text-sm font-light"><%= @product.description %></h2>
      <% if @product.aggregates.length > 0 %>
        <div class="w-full mt-12 flex pb-4 border-b">
          <div class="w-6/12">
            <h3 class="uppercase text-sm font-medium">Selecciona una variante</h3>
          </div>
          <div class="w-6/12 flex justify-end">
            <h3 class="uppercase text-sm text-gray-500 font-normal">Necesario</h3>
          </div>
        </div>
        <div class="w-full mt-8">
          <h4><%= @product.aggregates.length %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>