<%= render Headers::Text.new(title: "Variantes", small: true, font: "small", padding_class: "px-4 py-4", with_margin: false) do %>
  <%= link_to "Agregar " %>
<% end %>
<div class="w-full flex" id="list_variants">
  <% if @product.aggregate_categories.length <= 0 %>
    <%= render EmptyRecords.new(title: "El producto no tiene variantes") %>
  <% else %>
    <div class="w-4/12 divide-y divide-gray-300 border-r flex flex-wrap">
      <% @product.aggregate_categories.each do |aggc| %>
        <%= active_link_to dashboard_product_edit_variant_path(@product, aggc), class: "w-full px-4 py-3 hover:bg-blue-200 hover:bg-opacity-25 hover:text-blue-700 text-gray-700 font-medium ", class_active: "bg-blue-200 bg-opacity-25 text-blue-700" do %>
          <%= aggc.name %>
        <% end %>
      <% end %>
    </div>
    <div class="w-8/12">
      <div class="w-full flex flex-wrap ">
        <% if @aggregate_category %>
          <%= @aggregate_category.name %>
        <% else %>
          <div class="w-full flex justify-center py-12">
            <h4 class="font-normal text-gray-500">Selecciona una variante</h4>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>