<%= simple_form_for(@product, url: dashboard_product_path(@product.slug), remote: true) do |f| %>
  <%= f.input :name,
              input_html: {
                  class: 'py-3 px-3 bg-main-gray appearance-none rounded focus:outline-none w-full mt-2 mb-4'
              },
              label_html: {
                  class: "text-sm font-normal text-gray-600"
              },
              placeholder: @product.name, label: "Nombre del producto" %>
  <%= f.input :description,
              as: :text,
              input_html: {
                  class: 'py-3 px-3 bg-main-gray appearance-none rounded focus:outline-none w-full mt-2 mb-4',
                  rows: "5"

              },
              label_html: {
                  class: "text-sm font-normal text-gray-600"
              },
              placeholder: !@product.description.empty? ? @product.description : "Descripción breve del producto", label: "Descripción del producto" %>
  <%= f.input :price,
              input_html: {
                  class: 'py-3 px-3 bg-main-gray appearance-none rounded focus:outline-none w-full mt-2 mb-4'
              },
              label_html: {
                  class: "text-sm font-normal text-gray-600"
              },
              placeholder: @product.price ? @product.price : "Precio del producto en MXN", label: "Precio del producto (MXN)" %>
  <div class="w-full flex gap-4">
    <div class="w-6/12">
      <%= f.input :quantity,
                  input_html: {
                      class: 'py-3 px-3 bg-main-gray appearance-none rounded focus:outline-none w-full mt-2 mb-4'
                  },
                  label_html: {
                      class: "text-sm font-normal text-gray-600"
                  },
                  placeholder: @product.quantity ? @product.quantity : "Medida de volumen",
                  label: "Medida de volumen" %>
    </div>
    <div class="w-6/12">
      <%= f.input :quantity_measure,
                  input_html: {
                      class: 'py-3 px-3 bg-main-gray appearance-none rounded focus:outline-none w-full mt-2 mb-4'
                  },
                  label_html: {
                      class: "text-sm font-normal text-gray-600"
                  },
                  collection: Product.current_measures,
                  prompt: "Selecciona una unidad",
                  label: "Unidad del volumen" %>
    </div>
  </div>
  <%= f.input :public_stock,
              input_html: {
                  class: 'py-3 px-3 bg-main-gray appearance-none rounded focus:outline-none w-full mt-2 mb-4'
              },
              label_html: {
                  class: "text-sm font-normal text-gray-600"
              },
              as: :integer, placeholder: @product.public_stock ? @product.public_stock : "Productos en existencia", label: "Productos en existencia" %>
  <%= f.input :unlimited,
              input_html: {
                  class: 'py-3 px-3 bg-main-gray appearance-none rounded focus:outline-none w-full mt-2 mb-4'
              },
              label_html: {
                  class: "text-sm font-normal text-gray-600"
              },
              collection: [%w[SI yes], %w[NO no]], prompt: "Selecciona una opción", label: "Vender sin stock" %>
  <%= f.input :item_ids,
              input_html: {
                  class: "js-multiple hidden invisible",
                  multiple: "multiple"
              },
              label_html: {
                  class: "text-sm font-normal text-gray-600"
              },
              collection: @place.items, prompt: "Categorías", label: "Categorías" %>

  <div class="w-full flex justify-end my-12">
    <%= f.submit "Actualizar producto", data: {"disable-with": "Cargando..."}, class: "bg-main-blue hover:bg-opacity-75 cursor-pointer hover:shadow-small transform shadow-main hover:top-simple hover:left-simple relative py-2 px-4 transition duration-150 font-medium text-sm border-2 text-white rounded border-black" %>
  </div>
<% end %>

