<%= content_for(:head_tags) do %>
  <meta name="content_slug" content="<%= @product.id.to_s %>"/>
  <meta name="content_model" content="product"/>
<% end %>
<%= render Headers::Text.new(title: "#{@product.name}", subtitle: @product.description, link: dashboard_product_path(@product), small: true) %>

<% unless @product.new_record %>
  <%= render Products::Form::HeaderMenu.new(product: @product) %>
<% end %>

<div class="w-full flex flex-wrap">
  <div class="w-full px-4 mb-4 pt-4 <%= border_color %>">
    <div class="flex w-full flex-wrap">
      <p class="<%= label_color_class(size: "big") %> inline w-full mb-3">Foto del producto</p>
      <div class="border-2 rounded hover:shadow-xl transition duration-150">
        <label
          class="h-48 relative w-48 mt-2 bg-main-gray cursor-pointer"
        >
          <div class="absolute h-48 w-48 z-40 flex justify-center items-center rounded bottom-0 top-0 left-0 right-0 bg-black bg-opacity-25 opacity-0 hover:opacity-100 hover:bg-opacity-75 transition duration-150">
            <span class="text-sm text-white">Actualizar</span>
          </div>
          <img
            id="product_image"
            class="lazy h-48 rounded w-48 bg-gray-200"
            src="<%= get_image_url(10, 10, @product.photo, "contain") %>" data-src="<%= get_image_url(250, 250, @product.photo, "contain") %>" alt="<%= @product.name %> photo">
          <input type='file' class="hidden" accept="image/*" id="my-file-input"/>
        </label>
      </div>
    </div>
    <div class="UppyInput-Progress w-full mt-8"></div>
  </div>
  <div class="w-full">
    <%= render Dashboard::Products::Layout.new(product: @product, action_name: action_name) %>
  </div>
</div>

<%#= javascript_packs_with_chunks_tag "dashboard/products/new", 'data-turbolinks-track': "reload" %>
