<%= render Headers::Text.new(title: "Todos los productos") do %>
  <%= link_to "Agregar producto", new_dashboard_product_path, class: "bg-black py-3 px-6 text-white rounded hover:shadow-lg hover:bg-1 transition duration-500" %>
<% end %>

<% if @products.length > 0 %>
  <div class="grid grid-cols-12 gap-4 w-full">
    <% @products.each do |product| %>
      <div class="col-span-6">
        <%= render Products::Item.new(product) do %>
          <%= link_to dashboard_product_path(product.slug) do %>
            <%= react_component('ResponsiveImage', props: {publicId: product.photo, alt: "product", byDefault: false, wrapperClass: "md:w-32 md:h-32 rounded", className: "rounded"}, prerender: false) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="w-full flex justify-center mt-8">
    <%= will_paginate @products %>
  </div>
<% else %>
  <%= render EmptyRecords.new(title: params["page"] ? "Pagina #{params["page"]}, por aquí no hay nada 😕" : "Aún no hay productos por mostrar") %>
<% end %>
