<%= render Headers::Text.new(title: "Todos los productos") do %>
  <%= main_button(to: new_dashboard_product_path, action: "add", text: "Agregar producto", color_button: "dark") %>
<% end %>

<% if @products.length > 0 %>
  <div class="flex w-full">
    <%= render Products::List.new(products: @products, in_dashboard: true) %>
  </div>
  <div class="w-full flex justify-center mt-8">
    <%= will_paginate @products %>
  </div>
<% else %>
  <%= render EmptyRecords.new(title: params["page"] ? "Pagina #{params["page"]}, por aquí no hay nada 😕" : "Aún no hay productos por mostrar") %>
<% end %>
