<div class="w-full py-8 flex gap-4 items-center justify-between">
  <div class="w-8/12">
    <h1 class="text-4xl font-bold"><%= @product.name %></h1>
    <h2 class="text-sm text-gray-600 font-normal"><%= @product.description %></h2>
  </div>
  <div class="w-2/12 flex justify-end">
    <%= link_to "Editar", edit_dashboard_product_path(@product.slug), class: "bg-black py-2 px-10 text-white rounded border border-transparent hover:border-black hover:text-black font-normal hover:bg-white transition duration-150" %>

  </div>
</div>
<div class="w-full mt-8">
  <h3 class="text-lg mb-4 font-normal">
    Imágenes
  </h3>
  <%= react_component('ResponsiveImage', props: {publicId: @product.photo, alt: "Product", byDefault: true, wrapperClass: "h-40 w-40"}, prerender: false) %>
</div>
<div class="w-full flex mt-8 flex-wrap">
  <div class="w-full flex justify-between items-center">
    <div class="w-8/12">
      <h3 class="text-lg mb-1 font-normal">
        Variantes
      </h3>
    </div>
    <div class="w-4/12 flex justify-end">
      <%= link_to "Agregar variante", new_dashboard_product_aggregate_path(@product.slug), class: "bg-white text-black py-2 px-10 border border-gray-400 rounded transition duration-150 font-normal hover:border-black" %>
    </div>
  </div>
  <div class="w-full mt-4">
    <%= render Dashboard::Aggregates::List.new(aggregates: @product.aggregates, size: "base") %>
  </div>
</div>
<%#= link_to "Ver aggregates", dashboard_product_aggregates_path(@product.slug) %>
<div class="w-full my-12">
  <h3 class="text-2xl mb-1 font-normal">
    Área de peligro
  </h3>
  <h5 class="text-gray-600 text-sm mb-4 w-6/12">Si eliminas el producto no podrás recuperar la información de este
    recurso, está acción es <strong>irreversible</strong></h5>
  <%= button_to "Eliminar producto", dashboard_product_path(@product.slug), method: :delete, data: {confirm: "¿Estás seguro?"}, class: "bg-red-600 text-white px-8 py-2 cursor-pointer outline-none rounded" %>
</div>