<div class="w-full mt-4 text-gray-600 text-sm">
  <div class=""><%= link_to "Productos", dashboard_products_path, class: "hover:underline" %>
    <div class="mx-2 select-none inline">
      >
    </div>
    <span class="text-indigo-700 font-medium"><%= @product.name %></span>
  </div>
</div>
<%= content_for(:head_tags) do %>
  <meta name="content_slug" content="<%= @product.id.to_s %>"/>
  <meta name="content_model" content="product"/>
<% end %>
<div class="w-full flex gap-4 items-center flex-wrap justify-between">
  <div class="mt-8 flex flex-wrap">
    <div class="flex w-full">
      <img
        id="product_image"
        class="lazy h-24 rounded w-24 bg-gray-200"
        src="<%= get_image_url(10, 10, @product.photo, "cover") %>" data-src="<%= get_image_url(200, 200, @product.photo, "cover") %>" alt="<%= @product.name %> photo">
    </div>
  </div>
  <%= render Headers::Text.new(title: "#{@product.name}", subtitle: @product.description, small: true) do %>
    <%= main_button(text: "Actualizar producto", to: edit_dashboard_product_path(@product.slug), action: "update") %>
  <% end %>
</div>

<div class="w-full flex mt-8 flex-wrap">
  <div class="w-full flex justify-between items-center">
    <div class="w-3/12">
      <h3 class="text-lg mb-1 font-normal">
        Variantes
      </h3>
    </div>
    <div class="w-9/12 flex justify-end items-center">
      <%= link_to "Ver todas", dashboard_product_aggregates_path(@product.slug), class: "font-bold mr-6 hover:underline" %>
      <%= main_button(text: "Agregar variante", to: new_dashboard_product_aggregate_path(@product.slug), action: "add") %>
    </div>
  </div>
  <div class="w-full mt-4">
    <%= render Dashboard::Aggregates::List.new(aggregates: @product.aggregates, size: "base", product: @product) %>
  </div>
</div>
<%#= link_to "Ver aggregates", dashboard_product_aggregates_path(@product.slug) %>
<%= render Headers::Text.new(title: "Área de peligro", subtitle: "Si eliminas el producto no podrás recuperar la información de este recurso, está acción es irreversible", small: true, with_margin: false) do %>
  <%= button_to "Eliminar producto", dashboard_product_path(@product.slug), method: :delete, data: {confirm: "¿Estás seguro?", "disable-with": "Cargando..."}, class: main_color_button(color: "danger"), remote: true %>
<% end %>
