<%= content_for(:head_tags) do %>
  <meta name="content_slug" content="<%= @product.id.to_s %>"/>
  <meta name="content_model" content="product"/>
<% end %>
<div class="w-full py-8 flex gap-4 items-center justify-between">
  <div class="w-7/12">
    <h1 class="text-4xl font-bold"><%= @product.name %></h1>
    <h2 class="text-sm text-gray-600 font-normal"><%= @product.description %></h2>
  </div>
  <div class="w-3/12 flex justify-end">
    <%= main_button(text: "Actualizar producto", to: edit_dashboard_product_path(@product.slug), action: "update") %>
    <%#= link_to edit_dashboard_product_path(@product.slug), class: "bg-white shadow hover:shadow-lg py-2 px-4 transition duration-150 font-normal text-sm border text-black rounded border-gray-400 border-2" do %>
    <!--      <span>-->
    <!--        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"-->
    <!--             viewBox="0 0 24 24"-->
    <!--             class="inline h-4 fill-current text-gray-800"-->
    <!--        >    <path d="M 18 2 L 16 4 L 20 8 L 22 6 L 18 2 z M 14.5 5.5 L 5 15 C 5 15 6.005 15.005 6.5 15.5 C 6.995 15.995 6.984375 16.984375 6.984375 16.984375 C 6.984375 16.984375 8.004 17.004 8.5 17.5 C 8.996 17.996 9 19 9 19 L 18.5 9.5 L 14.5 5.5 z M 3.6699219 17 L 3 21 L 7 20.330078 L 3.6699219 17 z"></path></svg>-->
    <!--        &#160;&#160;Actualizar producto-->
    <!--      </span>-->
    <%# end %>

  </div>
</div>
<div class="w-full mt-8">
  <h3 class="text-lg mb-4 font-normal">
    Imagen del producto
  </h3>
  <div class="w-full">
    <div class="mt-4 flex flex-wrap">
      <div class="flex w-full">
        <label
          class="h-48 rounded relative w-48 bg-gray-200 cursor-pointer"
        >
          <div class="absolute flex justify-center items-center rounded bottom-0 top-0 left-0 right-0 bg-black bg-opacity-25 opacity-0 hover:opacity-100 hover:bg-opacity-75 transition duration-150">
            <span class="text-sm text-white">Actualizar</span>
          </div>
          <img
            id="product_image"
            class="lazy h-48 rounded w-48 bg-gray-200"
            src="<%= get_image_url(10, 10, @product.photo, "cover") %>" data-src="<%= get_image_url(200, 200, @product.photo, "cover") %>" alt="<%= @product.name %> photo">
          <input type='file' class="hidden" id="my-file-input" accept="image/*" />
        </label>
      </div>
      <div class="UppyInput-Progress w-full mt-8"></div>

    </div>
  </div>
</div>
<div class="w-full flex mt-8 flex-wrap">
  <div class="w-full flex justify-between items-center">
    <div class="w-8/12">
      <h3 class="text-lg mb-1 font-normal">
        Variantes
      </h3>
    </div>
    <div class="w-4/12 flex justify-end">
      <%= main_button(text: "Agregar variante", to: new_dashboard_product_aggregate_path(@product.slug), action: "add") %>
    </div>
  </div>
  <div class="w-full mt-4">
    <%= render Dashboard::Aggregates::List.new(aggregates: @product.aggregates, size: "base") %>
  </div>
</div>
<%#= link_to "Ver aggregates", dashboard_product_aggregates_path(@product.slug) %>
<div class="w-full my-12">
  <h3 class="text-2xl mb-1 font-normal">
    Área de peligro
  </h3>
  <h5 class="text-gray-600 text-sm mb-4 w-6/12">Si eliminas el producto no podrás recuperar la información de este
    recurso, está acción es <strong>irreversible</strong></h5>
  <%= button_to "Eliminar producto", dashboard_product_path(@product.slug), method: :delete, data: {confirm: "¿Estás seguro?"}, class: "bg-red-600 text-white px-8 py-2 cursor-pointer outline-none rounded" %>
</div>
<%= javascript_packs_with_chunks_tag "dashboard/products/new", 'data-turbolinks-track': "reload" %>
