<%= content_for(:head_tags) do %>
  <meta name="content_slug" content="<%= @product.id.to_s %>"/>
  <meta name="content_model" content="product"/>
<% end %>
<div class="w-full flex gap-4 items-center flex-wrap justify-between px-4 py-4 <%= border_color %>">
  <div class="mt-8 flex flex-wrap">
    <div class="flex w-full">
      <img
        id="product_image"
        class="lazy h-24 rounded w-24 bg-gray-200"
        src="<%= get_image_url(10, 10, @product.photo, "cover") %>" data-src="<%= get_image_url(150, 150, @product.photo, "cover") %>" alt="<%= @product.name %> photo">
    </div>
  </div>
  <%= render Headers::Text.new(title: "#{@product.name}", subtitle: @product.description, small: true, with_border: false) do %>
    <%= main_button(text: "Editar producto", to: edit_dashboard_product_path(@product), action: "update", color_button: "dark") %>
  <% end %>
</div>

<div class="w-full mt-12 flex flex-wrap divide-y divide-gray-200 <%= border_color %>">
  <div class="w-full p-4 flex items-center">
    <h4 class="font-medium w-3/12">Estatus:</h4>
    <h5 class="text-gray-700 ml-2 text-sm font-normal inline"><%= @product.status === "active" ? "Activo" : "Desactivado" %></h5>
  </div>
  <div class="w-full p-4 flex items-center">
    <h4 class="font-medium w-3/12">Precio:</h4>
    <h5 class="text-gray-700 ml-2 text-sm font-normal inline"><%= number_to_currency(@product.price, format: "%u %n") %></h5>
  </div>
  <div class="w-full p-4 flex items-center">
    <h4 class="font-medium w-3/12">Descripción:</h4>
    <h5 class="ml-2 text-sm font-normal inline <%= @product.description.empty? ? "italic text-gray-500" : "text-gray-700" %>"><%= @product.description.empty? ? "Sin descripción" : @product.description %></h5>
  </div>
  <div class="w-full p-4 flex items-center">
    <h4 class="font-medium w-3/12">Productos en stock:</h4>
    <h5 class="text-gray-700 ml-2 text-sm font-normal inline"><%= pluralize(@product.public_stock, "unidad", plural: "unidades") %></h5>
  </div>
  <div class="w-full p-4 flex items-center">
    <h4 class="font-medium w-3/12">Vender sin stock:</h4>
    <h5 class="text-gray-700 ml-2 text-sm font-normal inline"><%= @product.unlimited ? "SI" : "NO" %></h5>
  </div>
  <div class="w-full p-4 flex items-center">
    <h4 class="font-medium w-3/12">Creado:</h4>
    <h5 class="ml-2 text-sm font-normal inline text-gray-700">Hace <%= time_ago_in_words(@product.created_at) %></h5>
  </div>
  <div class="w-full p-4 flex items-center">
    <h4 class="font-medium w-3/12">Visto por última vez:</h4>
    <h5 class="ml-2 text-sm font-normal inline <%= @product.last_viewed.nil? ? "text-gray-500 italic" : "text-gray-700" %>">
      <% if @product.last_viewed.nil? %>
        Nunca
      <% else %>
        Hace <%= time_ago_in_words(@product.last_viewed) %>
      <% end %>
    </h5>
  </div>
</div>

<div class="w-full flex mt-12 flex-wrap <%= border_color %>">
  <div class="w-full flex justify-between items-center px-3 py-4">
    <div class="w-3/12">
      <h3 class="text-lg mb-1 font-medium">
        Variantes
      </h3>
    </div>
    <div class="w-9/12 flex justify-end items-center">
      <%= link_to "Ver todas", dashboard_product_edit_variants_path(@product), class: "font-bold mr-6 hover:underline" %>
      <%= main_button(text: "Agregar variante", to: new_dashboard_product_aggregate_category_path(@product), action: "add") %>
    </div>
  </div>
  <div class="w-full">
    <%= render Dashboard::AggregateCategories::List::Index.new(product: @product) %>
  </div>
</div>
<div class="w-full p-4 my-12 <%= border_color %>">
  <%= render Headers::Text.new(title: "Área de peligro", with_border: false, subtitle: "Si eliminas el producto no podrás recuperar la información de este recurso, está acción es irreversible", small: true, with_margin: false) do %>
    <%= button_to "Eliminar producto", dashboard_product_path(@product), method: :delete, data: {confirm: "¿Estás seguro?", "disable-with": "Cargando..."}, class: main_color_button(color: "danger", size: "big", padding: "big"), remote: true %>
  <% end %>
</div>