<div class="w-full justify-center min-h-screen flex items-center">
  <div class="w-4/12 flex flex-wrap bg-white p-6 rounded shadow-xl">
    <%= link_to root_path, class: "w-full flex items-center" do %>
      <img
        class="h-10 lazy w-auto"
        src="<%= get_image_url(20, 100, "utils/w-logo-5.png") %>"
        alt="Waydda logo"
      >
      <h3 class="ml-2 font-normal">Waydda</h3>
    <% end %>
    <%= simple_form_for(resource,
                        defaults: {
                            input_html: {class: "#{input_color_class} mt-3 mb-4", type: "tel"},
                            label_html: {class: label_color_class}
                        },
                        as: resource_name, remote: true, html: {class: "w-full"}, url: session_path(resource_name)) do |f| %>
      <h1 class="w-full my-8 text-2xl font-bold">Inicia sesión en tu cuenta de Waydda</h1>
      <%#= render "devise/shared/error_messages", resource: resource %>
      <div class="w-full relative mb-6">
        <label for="user_phone" class="<%= label_color_class %>">Número de teléfono</label>
        <div class="w-full relative mt-3">
          <%= f.input :phone,
                      label: "Número de teléfono",
                      placeholder: "552 471 4512",
                      required: "required",
                      input_html: {autofocus: true, class: "#{input_color_class} pl-20"},
                      label: false
          %>
          <div class="absolute left-0 bottom-0 top-0 w-16 flex justify-center items-center bg-main-gray-dark">
            + 52
          </div>
        </div>
      </div>

      <div class="hidden" id="verification-code">
        <%= f.input :verification_code,
                    placeholder: "487878",
                    input_html: {value: ""},
                    label: "Código de verificación"
        %>
      </div>
      <%= f.submit "Iniciar sesión", data: {disable_with: "Cargando..."}, class: "#{main_color_button(color: "primary", padding: "big", size: "big")} w-full" %>
    <% end %>
  </div>
</div>
