<div class="w-full mt-4 text-gray-600 text-sm">
  <span class=""><%= link_to "Ajustes", dashboard_edit_my_place_path, class: "hover:underline" %>
    <span class="mx-2 select-none">></span><span class="text-indigo-700 font-medium">Mi suscripción</span></span>
</div>
<%= render Headers::Text.new(title: "Mi suscripción", small: true, with_margin: true) %>
<div class="w-full flex flex-wrap border p-4 mt-4 divide-y divide-gray-400 rounded bg-main-gray">
  <% if @place.free? %>
    <div class="w-full flex items-center py-4">
      <div class="w-6/12">
        <p class="font-normal">
          Actualizar suscripción
        </p>
        <small>
          Envíos a domicilio, pagos con tarjeta y mucho más.
        </small>
      </div>
      <div class="w-6/12 flex justify-end">
        <%= link_to "Actualizar suscripción", dashboard_new_subscription_path("premium"), class: main_color_button(color: "secondary") %>
      </div>
    </div>
  <% end %>
  <% if @place.premium? %>
    <div class="w-full flex items-center py-4">
      <div class="w-6/12">
        <p class="font-normal">
          Cancelar suscripción
        </p>
        <small>
          Si cancelas tu suscripción ya no tendrás los beneficios del paquete premium.
        </small>
      </div>
      <div class="w-6/12 flex justify-end">
        <%= button_to "Cancelar suscripción", dashboard_create_user_portal_path, method: :post,
                      data: {
                          "disable-with": "Cargando..."
                      },
                      class: main_color_button(color: "danger")
        %>
      </div>
    </div>
  <% end %>
  <div class="w-full flex items-center py-4">
    <div class="w-6/12">
      <p class="font-normal">
        Historial y métodos de pago
      </p>
      <small>
        Administra tus métodos de pago y visualiza tu historial de pagos.
      </small>
    </div>
    <div class="w-6/12 flex justify-end">
      <%= button_to "Ver más", dashboard_create_user_portal_path, method: :post,
                    data: {
                        "disable-with": "Cargando..."
                    },
                    remote: true,
                    class: main_color_button(color: "secondary")
      %>
    </div>
  </div>
</div>
