<h1>Plan a contratar</h1>
<div class="w-full">
  <h3>
    Días gratis: <span class="font-bold"><%= current_user.free_days_selected %></span>
  </h3>
  <h3>
    Precio: <span class="font-bold"><%= current_user.price_selected %></span>
  </h3>
</div>
<% if params["subscription_id"] === "free" and @place.free? %>
  <h2>Ya cuentas con esta suscripción</h2>
  <%= link_to "¿Buscabas mejorar tu suscripción?", dashboard_new_subscription_path("premium") %>
<% end %>

<% if params["subscription_id"] === "premium" and @place.premium? %>
  <h2>Ya tienes premium</h2>
<% end %>

<% if params["subscription_id"] === "premium" and @place.free? %>
  <h2>Contratar premium</h2>
  <% if @place.trial_used %>
    <div class="w-full flex bg-main-gray p-4 rounded mb-12">
      <%= render Headers::Text.new(title: "Ya se ha usado la prueba gratuita", subtitle: "La próxima factura se cobrará a la tarjeta que ingreses", small: true, with_margin: false) %>
    </div>
  <% end %>
  <div class="w-full">
    <%= simple_form_for(@subscription, url: dashboard_create_subscription_path(params["subscription_id"]), remote: true) do |f| %>
      <%= f.input :kind, as: :hidden, input_html: {value: params["subscription_id"]} %>
      <div id="card-element" class="mt-2 bg-main-gray p-4 rounded">
        <!-- a stripe element will be inserted here. -->
      </div>
      <div id="card-errors" role="alert"></div>

      <%= f.submit "Empezar mi suscripción", id: "submit-input", data: {disable_with: "Cargando..."}, class: main_color_button(color: "secondary") %>
    <% end %>
  </div>
<% end %>


<%= javascript_pack_tag "dashboard/subscriptions/new", 'data-turbolinks-track': "reload" %>
