<div class="w-full mb-4 flex items-center">
  <div class="w-9/12 flex space-x-4 items-center">
    <% unless @order.cancelled? %>
      <% unless @order.is_received? %>
        <%= button_to "Recibir", dashboard_order_receive_item_path(@order), params: {custom_action: "show"}, method: :patch, data: {disable_with: "Actualizando..."}, remote: true, class: "w-auto #{helpers.main_color_button(color: "dark", padding: "big")}" %>
      <% end %>
      <% unless @order.in_process? || @order.sent? || @order.cancelled? %>
        <%= button_to "Procesar", dashboard_order_process_item_path(@order), params: {custom_action: "show"}, method: :patch, data: {disable_with: "Actualizando..."}, remote: true, class: "w-auto #{helpers.main_color_button(color: "dark", padding: "big")}" %>
      <% end %>
      <% unless @order.sent? %>
        <% if @order.is_cash? %>
          <%= button_to "Completar", dashboard_order_send_item_path(@order), params: {custom_action: "show"}, method: :patch, data: {disable_with: "Actualizando..."}, remote: true, class: "w-auto #{helpers.main_color_button(color: "primary", padding: "big")}" %>
        <% else %>
          <%= button_to "Enviar", dashboard_order_send_item_path(@order), params: {custom_action: "show"}, method: :patch, data: {disable_with: "Actualizando..."}, remote: true, class: "w-auto #{helpers.main_color_button(color: "primary", padding: "big")}" %>
        <% end %>
      <% end %>
      <% unless @order.is_cash? %>
        <div class="w-auto <%= helpers.main_color_button(color: "gray", padding: "big") %>">
          <span>Reembolsar</span>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="w-3/12 flex justify-end">
    <% unless @order.cancelled? %>
      <%= button_to "Cancelar orden", dashboard_order_cancel_item_path(@order), params: {custom_action: "show"}, method: :patch, data: {disable_with: "Actualizando...", confirm: "Esta orden se cancelará y se reembolsará el dinero al comprador. ¿Quieres continuar?"}, remote: true, class: "w-auto #{helpers.main_color_button(color: "danger")}" %>
    <% end %>
  </div>
</div>