<div class="w-full mb-3 <%= helpers.border_color %>">
  <h3 class="text-xl font-medium p-3 bg-main-gray">Información</h3>
  <div class="w-full border-t border-b p-3 flex">
    <div class="w-3/12">
      <span class="uppercase text-gray-700 text-xs">Tipo de envío</span>
    </div>
    <div class="w-5/12">
      <span class="uppercase text-gray-700 text-xs">Método de pago</span>
    </div>
    <div class="w-4/12">
      <span class="uppercase text-gray-700 text-xs">Status</span>
    </div>
  </div>
  <div class="w-full flex p-3">
    <div class="w-3/12">
      <span class="truncate font-normal">
        <%= I18n.t("shipment_type.#{@order.shipment_type}") %>
      </span>
    </div>
    <div class="w-5/12">
      <span class="truncate text-gray-700">
        <%= @order.payment_type === "cash" ? "Efectivo" : "Tarjeta de crédito/débito" %>
      </span>
    </div>
    <div class="w-4/12">
      <span class="<%= @order.get_bg %> px-2 py-1 rounded-full text-xs font-normal">
        <%= I18n.t("status.#{@order.status}") %>
      </span>
    </div>
  </div>
</div>