<div class="w-11/12 bg-white rounded
  <%= @with_margin ? "mt-12" : "" %> shadow-2xl flex">
  <div class="p-8 w-8/12 flex flex-wrap">
    <div class="w-full flex flex-wrap">
      <div class="w-auto flex relative">
        <h3 class="text-3xl font-bold text-left"><%= @name %></h3>
        <% if @current %>
          <div class="absolute right-0 bottom-0 top-0 transform translate-x-full flex -mr-4 justify-center items-center">
            <span class="font-normal text-sm bg-main-red text-white py-1 px-2 rounded-full">Actual</span></div>
        <% end %>
      </div>
      <div class="w-full">
        <h4 class="text-gray-600 text-left mt-4 font-normal">
          <%= @description %>
        </h4>
      </div>
    </div>
    <div class="w-full flex mt-8 items-center">
      <div class="w-4/12">
        <h4 class="font-bold text-indigo-700 uppercase text-sm">¿Qué incluye?</h4>
      </div>
      <div class="w-8/12 h-es bg-gray-300">
      </div>
    </div>
    <div class="w-full flex flex-wrap">
      <%= content %>
    </div>
  </div>

  <div class="w-4/12 bg-main-gray p-8">
    <h3 class="text-blue-900 text-xl font-medium text-center"><%= @payment_description %></h3>
    <h2 class="text-5xl my-4 font-bold text-center"><%= helpers.number_to_currency(@plan_pricing, format: "%u %n") %></h2>
    <h5 class="text-xs text-gray-600 text-center">Precios en pesos mexicanos</h5>
    <div class="w-full mt-8 flex text-center">
      <%= link_to "Iniciar prueba gratuita", dashboard_new_subscription_path(@plan_pricing.to_i > 0 ? "premium" : "free"), class: "bg-black rounded py-4 px-6 w-full text-white font-normal focus:outline-none shadow-lg hover:shadow-2xl transition delay-100 duration-200" %>
    </div>
  </div>
</div>