<% @product.aggregate_categories.select { |vv| vv.aggregates.length > 0 }.each do |variant| %>
  <div class="w-full mb-8">
    <div class="w-full mt-4 mb-6 flex pb-4 border-b">
      <div class="w-8/12">
        <h3 class="uppercase text-sm font-medium truncate"><%= variant.name %></h3>
        <%# unless @product.description.empty? %>
<!--          <h4 class="text-xs text-gray-600 truncate mt-1">-->
            <%#= variant.description %>
<!--          </h4>-->
        <%# end %>
      </div>
      <div class="w-4/12 flex justify-end">
        <% if variant.required %>
          <h3 class="uppercase text-xs text-gray-500 font-normal">Obligatorio</h3>
        <% end %>
      </div>
    </div>
    <div class="w-full mt-2">
      <% variant.aggregates.each do |aggregate| %>
        <% if variant.multiple_selection %>
          <label class="w-full my-6 flex gap-4 items-center cursor-pointer">
            <input
              type="checkbox"
              name="checkboxAggregate"
              class="main-checkbox rounded focus:outline-none text-black h-5 w-5 cursor-pointer"
              />
            <div class="w-7/12">
              <span class="text-sm font-normal"><%= aggregate.name %></span>
            </div>
            <% if aggregate.price > 0 %>
              <div class="w-3/12 flex justify-end">
                <span class="text-xs text-gray-600 font-normal">+ <%= helpers.number_to_currency(aggregate.price, format: "%u %n") %></span>
              </div>
            <% end %>
          </label>
        <% else %>
          <label class="w-full my-6 flex gap-4 items-center cursor-pointer">
            <input
              type="radio"
              name="radioAggregate"
              class="main-radio focus:outline-none text-black h-5 w-5 cursor-pointer"
              />
            <div class="w-7/12">
              <span class="text-sm font-normal"><%= aggregate.name %></span>
            </div>
            <% if aggregate.price > 0 %>
              <div class="w-3/12 flex justify-end">
                <span class="text-xs text-gray-600 font-normal">+ <%= helpers.number_to_currency(aggregate.price, format: "%u %n") %></span>
              </div>
            <% end %>
          </label>
        <% end %>
        <!--      <h4><%#= @product.aggregate_categories.length %></h4>-->
      <% end %>
    </div>
  </div>
<% end %>
