<%= content_for(:head_tags) do %>
  <meta name="content_slug" content="<%= @place.id.to_s %>"/>
  <meta name="content_model" content="place"/>
<% end %>
<div class="w-full" id="messages"></div>
<div class="w-full mt-4 text-gray-600 text-sm">
  <span class=""><%= link_to "Ajustes", dashboard_edit_my_place_path, class: "hover:underline" %>
    <span class="mx-2 select-none">></span><span class="text-indigo-700 font-medium">General</span></span>
</div>
<%= render Headers::Text.new(title: "Actualizar empresa", small: true, with_margin: true) %>

<div class="w-full gap-8 flex items-start">
  <div class="w-full flex flex-wrap">
    <div class="w-full">
      <%= render "dashboard/places/form", url: dashboard_place_path(@place.slug) %>
    </div>
  </div>
</div>



<%= javascript_pack_tag "my_profile", 'data-turbolinks-track': "reload" %>
