<div class="w-full" id="messages"></div>
<div class="w-full mt-4 text-gray-800 text-sm">
  <span class=""><%= link_to "Ajustes", dashboard_edit_my_place_path, class: "hover:underline" %>
    <span class="mx-2 select-none">></span><span class="text-indigo-700 font-medium">General</span></span>
</div>
<%= render Headers::Text.new(title: "Actualizar empresa", small: true, with_margin: true) %>

<div class="w-full gap-8 flex items-start">
  <div class="w-full flex flex-wrap">
    <div class="w-full">
      <%= render "dashboard/places/form", url: dashboard_place_path(@place.slug) %>
    </div>
    <% if @place.pending? %>
      <h3>Esperando la confirmación del administrador</h3>
    <% else %>
      <p>
        <%= simple_form_for(@place, url: dashboard_place_update_slug_path(@place.slug), remote: true) do |f| %>
          <%= f.input :slug, value: @place.slug %>
          <%= f.submit %>
        <% end %>
      </p>
      <div class="mt-4">
        <strong>Status:</strong>
        <% if @place.status == "inactive" %>
          <%= button_to "Activar", {to_action: "activate"}, method: :put, remote: true, class: "cursor-pointer bg-green-700 focus:outline-none text-white px-8 py-3 rounded shadow-2xl" %>
        <% else %>
          <%= button_to "Desactivar", {to_action: "deactivate"}, method: :put, remote: true, class: "cursor-pointer bg-red-700 focus:outline-none text-white px-8 py-3 rounded shadow-2xl" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<%= javascript_pack_tag "my_profile", 'data-turbolinks-track': "reload" %>
