<div class="w-full flex <%= @with_border ? "border-b" : "" %> <%= @with_margin ? "mb-4" : "" %> <%= if @padding_class
                                                                                                      @padding_class
                                                                                                    else
                                                                                                      @small ? "pt-8 pb-5" : "py-12"
                                                                                                    end %> items-center">
  <div class="<%= content ? "w-8/12" : "w-full flex flex-wrap" %>">
    <% if @link %>
      <div class="w-full flex ">
        <%= link_to @link, class: "hover:underline flex" do %>
          <% if @font %>
            <h2 class="<%= @font === "small" ? "font-bold text-lg" : "font-bold text-3xl" %> "><%= @title %></h2>
          <% else %>
            <h2 class="<%= @small ? "text-3xl" : "text-4xl" %> font-bold"><%= @title %></h2>
          <% end %>
        <% end %>
      </div>
    <% else %>

      <% if @font %>
        <!--        <h3 class="font-bold text-lg"><%#= @title %></h3>-->
        <h2 class="<%= @font === "small" ? "font-medium text-lg" : "font-bold text-3xl" %> "><%= @title %></h2>
      <% else %>
        <h2 class="<%= @small ? "text-3xl" : "text-4xl" %> font-bold"><%= @title %></h2>
      <% end %>
    <% end %>
    <% if @subtitle %>
      <h3 class="w-full text-sm text-gray-600 font-normal mt-1">
        <%= @subtitle %>
      </h3>
    <% end %>
  </div>
  <% if content %>
    <div class="w-4/12 flex justify-end">
      <%= content %>
    </div>
  <% end %>
</div>