<script type="application/ld+json">
  {
   "@context": "https://schema.org",
   "@type": "Place",
   "name": "<%= @place.name %>",
   "address":"<%= @place.address %>",
   "geo": {
      "@type": "GeoCoordinates",
      "latitude": "<%= @place.lat %>",
      "longitude": "<%= @place.lng %>"
    },
    "currenciesAccepted": "MXN",
    "paymentAccepted": true,
    "url": "https://waydda.com/places/<%= @place.slug %>"
  }







</script>
<%= content_for(:head_tags) do %>
  <% if @current_cart.delivery_kind == "deliver" %>
    <meta name="show-modal" content="<%= @available_distance ? "no" : "yes" %>">
  <% end %>
<% end %>
<%= render Places::Presentation.new(delivery_option: @delivery_option, place: @place, current_cart: @current_cart, items: @items, available_distance: @available_distance) %>
<%= render Places::DeliveryModal.new(message: "E", current_user: current_or_guest_user, available_distance: @available_distance, current_cart: @current_cart) %>
<div class="w-10/12 mx-auto flex flex-wrap mb-12">
  <% if @items.length <= 0 and @products.length <= 0 %>
    <div class="w-full py-8 px-4 text-center rounded bg-main-gray">
      <img
        class="lazy mx-auto mb-4"
        src="<%= get_image_url(4, 4, "utils/conifer-178.png") %>"
        data-src="<%= get_image_url(400, 400, "utils/conifer-178.png") %>"
        alt="Empty products">
      <span class="text-2xl font-normal text-gray-900">
        Este establecimiento aún no tiene productos publicados
      </span>
    </div>
  <% else %>
    <% @items.each do |item| %>
      <div class="w-full flex flex-wrap " id="<%= item.id.to_s %>">
        <h2 class="text-sm font-medium text-gray-600 mb-8 pb-4 border-b uppercase w-full"><%= item.name %></h2>
        <div class="w-full mb-8">
          <%= render Products::List.new(products: item.recent_products, place: @place) %>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="w-full flex flex-wrap">
    <%= render Products::List.new(products: @products, place: @place) %>
  </div>
</div>
<%= javascript_packs_with_chunks_tag "places/show", 'data-turbolinks-track': "reload" %>
