<% content_for :sticky do %>
  <%= render Places::Menu.new %>
<% end %>
<% content_for :content do %>
  <div class="h-64 bg-gray-300 w-full">

  </div>
<% end %>



<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Productos: <%= @place.total_products %></strong>
</p>

<% @products.each do |product| %>
  <div class="bg-gray-100 p-3 my-3">
    <p>Nombre: <%= product.name %></p>
    <p>Descripción: <%= product.description %></p>
    <p>Aggregates <%= product.aggregates.length %></p>
    <p>Precio: <%= number_to_currency(product.price, raise: true, format: "%u %n") %></p>
    <%= button_to "Agregar al carrito", add_product_to_cart_path(product), method: :post, class: "cursor-pointer", remote: true, data: {"disable-with": "Agregando..."} %>
  </div>
<% end %>
<%= will_paginate @products %>