<!DOCTYPE html>
<html style="background: #f5f5f3">
<head>
  <title>Carrito | Waydda</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'carts-show-bundle', 'data-turbolinks-track': 'reload', :defer => "defer" %>

  <meta name="place_image_url" content="<%= get_image_url(50, 50, @place.photo) %>"/>
  <meta name="place_lat" content="<%= @place.lat %>"/>
  <meta name="place_lng" content="<%= @place.lng %>"/>
  <% if @current_address %>
    <meta name="address_lat" content="<%= @current_address.lat %>"/>
    <meta name="address_lng" content="<%= @current_address.lng %>"/>
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="preconnect" href="https://d1nrrr6y3ujrjz.cloudfront.net" crossOrigin/>
  <link rel="dns-prefetch" href="https://d1nrrr6y3ujrjz.cloudfront.net"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" crossOrigin/>
  <link rel="dns-prefetch" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossOrigin/>
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/"/>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" as="style">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap">

</head>

<body style="background: #f5f5f3">
<div class="grid grid-cols-12">
  <div class="col-span-12">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <% if params["console"].present? %>
      <%= console %>
    <% end %>
  </div>
</div>
</body>
</html>
