<!DOCTYPE html>
<html>
<head>
  <title>Carrito | Waydda</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_packs_with_chunks_tag 'carts-show-bundle', "application", 'data-turbolinks-track': 'reload', :defer => "defer" %>

  <meta name="place_image_url" content="<%= get_image_url(50, 50, @place.photo) %>"/>
  <meta name="place_lat" content="<%= @place.lat %>"/>
  <meta name="place_lng" content="<%= @place.lng %>"/>
  <% if @current_address %>
    <meta name="address_lat" content="<%= @current_address.lat %>"/>
    <meta name="address_lng" content="<%= @current_address.lng %>"/>
  <% end %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="preconnect" href="https://d1nrrr6y3ujrjz.cloudfront.net" crossOrigin/>
  <link rel="dns-prefetch" href="https://d1nrrr6y3ujrjz.cloudfront.net"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" crossOrigin/>
  <link rel="dns-prefetch" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossOrigin/>
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/"/>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" as="style">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap">

</head>

<body>
<div id="modal">
</div>
<div class="modal">
  <div class="modal-inner w-4/12 h-xxxl rounded">
    <!--    <span data-modal-close>&times;</span>-->
    <div class="modal-content h-full flex modal-content" id="modal-content"></div>
  </div>
</div>
<div class="grid grid-cols-12">
  <div class="col-span-12">
    <div class="py-3 bg-white border-b w-full">
      <div class="w-9/12 flex mx-auto items-center justify-between">
        <div class="w-auto">
          <a href="/">
            <img
              class="h-10"
              src="<%= get_image_url(20, 100, "utils/w-logo-5.png") %>" alt="">
          </a>
        </div>
        <div class="w-auto">
          <a href="/my-profile"
             class="rounded-full"
          >
            <img
              class="h-8 shadow-lg rounded-full"
              alt="Waydda default profile photo"
              src="<%= get_image_url(50, 50, "utils/icons8-test-account-96.png") %>"
              title="Mi perfil"
              />
          </a>
        </div>
      </div>
    </div>
    <div id="notifications">
      <% if notice.present? %>
        <%= render Notifications::Alert.new(alert: notice, kind: "error") %>
      <% end %>
      <% if alert.present? %>
        <%= render Notifications::Alert.new(alert: alert) %>
      <% end %>
    </div>
    <%= yield %>
    <% if params["console"].present? %>
      <%= console %>
    <% end %>
    <%#= console %>

  </div>
</div>
</body>
</html>
