<!DOCTYPE html>
<html class="bg-white">
<head>
  <title>Waydda | Panel de control</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_packs_with_chunks_tag 'application', "dashboard/index", 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="model" content="<%= controller_name.singularize %>"/>
  <meta name="action_name" content="<%= action_name %>_<%= controller_name %>"/>
  <link rel="preconnect" href="https://d1nrrr6y3ujrjz.cloudfront.net" crossOrigin/>
  <link rel="dns-prefetch" href="https://d1nrrr6y3ujrjz.cloudfront.net"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" crossOrigin/>
  <link rel="dns-prefetch" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossOrigin/>
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/"/>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap" as="style">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&display=swap">
  <%= content_for?(:head_tags) ? yield(:head_tags) : nil %>
</head>

<body class="bg-white">
<div class="w-full flex">
  <div class="w-1/5">
    <% unless @place.nil? %>
      <%= render "utils/Headers/dashboard" %>
    <% end %>
  </div>

  <div class="w-4/5 flex flex-wrap <%= @full_page ? "" : "px-6" %>">
    <% if @place.in_free_trial and @place.subscription %>
      <% unless @place.subscription.new_record? %>
        <%= button_to dashboard_create_user_portal_path, class: "py-4 w-full border-b", form_class: "w-full", data: {"disable-with": "Cargando..."}, remote: true do %>
        <span class="bg-transparent cursor-pointer text-sm text-gray-700">Tu prueba termina en <%= time_ago_in_words(@place.subscription.trial_end.to_i) %>
          . <span class="text-indigo-700 font-medium">Agrega un método de pago para continuar con el servicio</span></span>
        <% end %>
      <% end %>
    <% end %>
    <div class="flex w-full justify-center">
      <div class="w-full flex mx-auto flex-wrap">
        <div id="notifications" class="w-full">
          <% if notice.present? %>
            <%= render Notifications::Alert.new(alert: notice, with_spacing: true, kind: "error") %>
          <% end %>
          <% if alert.present? %>
            <%= render Notifications::Alert.new(alert: alert, with_spacing: true) %>
          <% end %>
        </div>
        <%= yield %>
        <% if Rails.env === "development" && params["console"] %>
          <% console %>
        <% end %>
      </div>
    </div>
  </div>
</div>


</body>
</html>
