<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:html_title) ? yield(:html_title) : "Waydda" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'sessions', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="preconnect" href="https://d1nrrr6y3ujrjz.cloudfront.net" crossOrigin/>
  <link rel="dns-prefetch" href="https://d1nrrr6y3ujrjz.cloudfront.net"/>
  <link rel="preconnect" href="https://fonts.googleapis.com" crossOrigin/>
  <link rel="dns-prefetch" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossOrigin/>
  <link rel="dns-prefetch" href="https://fonts.gstatic.com/"/>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" as="style">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap">
</head>

<body>
<div class="grid grid-cols-12">
  <div class="col-span-8 col-start-3 relative">
    <div id="notifications" class="absolute top-0 z-20 w-full">
      <% if notice.present? %>
        <%= render Notifications::Alert.new(alert: notice, kind: "error") %>
      <% end %>
      <% if alert.present? %>
        <%= render Notifications::Alert.new(alert: alert) %>
      <% end %>
    </div>
  </div>
  <div class="col-span-12">

    <%= yield %>
  </div>
</div>
</body>
</html>
